<template>
<div>
      <b-navbar type="dark" variant="dark">
      <b-navbar-nav>
      <b-navbar-brand class="mx-3" href="#">PMF Vision</b-navbar-brand>
      <!-- Navbar dropdowns -->
      <b-nav-item-dropdown :text="$t('file')" right>
        <b-dropdown-item  v-on:click="showModalSave" >{{ $t('save') }}</b-dropdown-item>
        <b-modal id="modal-save" @cancel="nameProject = ''"
                 @ok="saveZones(); saved = true ;" :title="$t('Ssz')">
        <b-form-input :placeholder="$t('Np')" v-model="nameProject">
        </b-form-input>
        </b-modal>
        <b-modal id="modal-isVoid"
                 @ok="savable = true;saveZones()" title="Warning">
        <p>{{ $t('Fvoids') }}</p>
        </b-modal>
      </b-nav-item-dropdown>
      </b-navbar-nav>
      <div class="lang-dropdown">
      <select v-model="$i18n.locale">
        <option
          v-for="(lang, i) in languageArray"
          :key="`lang${i}`"
          :value="lang"
          >
          {{ lang }}
        </option>
      </select>
    </div>
    </b-navbar>
    <b-container class="content_ui">
    <b-row>
        <b-col>
     <h1>{{$t('Np')}}: {{nameProject}}</h1>
        </b-col>
    </b-row>
    <b-row>
      <b-col>
        <canvas class="scenario" id='canvas' ref="select">
        </canvas>
      </b-col>
      <b-col>
      <b-card class="scenario">
          <b-card no-body>
            <b-tabs card pills v-model="tabActive" @changed="onTabChanged">
              <b-tab class="step" :title='`Step ` + index + ` - ` +
              scenario.steps[index].name' button v-for='(item, index) in scenario.steps'
                     v-bind:key="index">
                <b-row class="justify-content-center">
                  <div class="title_op">
                  <label>
                    {{$t('Sn')}}:
                  </label>
                    <b-form-input
                    v-on:click="editForm('step' + index)"
                      v-model="scenario.steps[index].name">
                    </b-form-input>
                    </div>
                </b-row>
                <div class="op">
                <draggable
                :list="scenario.steps[index].operations"
                class="list-group operations"
                @start="dragging = true"
                @end="dragging = false">
                <div class="operation" button
                       v-for='(item2, index2) in scenario.steps[index].operations'
                     v-bind:key="index2">
                <b-row>
                  <b-col>
                  <h3>Operation {{scenario.steps[index].operations[index2].id}}</h3>
                  </b-col>
                  <b-col cols="1">
                    <b-button size="sm" variant="danger" class="float-right"
                          v-on:click="removeOp(index, index2);
                          scenario.steps[index].operations.splice(index2,1);">
                    X</b-button>
                  </b-col>
                </b-row>
                <b-row class="attributes">
                <b-col class="title_op">
                  <label>{{$t('name')}}:</label>
                  <b-form-input v-on:click="editForm('op' + index2)"
                      v-model="scenario.steps[index].operations[index2].name">
                    </b-form-input>
                    <p v-if="scenario.steps[index].operations[index2].name.toString() === ''">
                      This field is required</p>
                </b-col>
                <b-col class="title_op">
                  <label>Action:</label>
                    <b-form-select v-model="scenario.steps[index].operations[index2].action"
                                   v-on:change="checkZone(index, index2)"
                                   :options="action_options"></b-form-select>
                    <p v-if="scenario.steps[index].operations[index2].action === ''">
                      This field is required</p>
                <div   v-if="scenario.steps[index].operations[index2].action === 'control' &&
                       scenario.steps[index].operations[index2].zone !== '' &&
                       scenario.steps[index].operations[index2].name !== '' ">
                  <label class="lbl_ctrl_pct">{{$t('Cp')}}:</label>
                   <!--                eslint-disable-next-line-->
                  <img class="ctrl_pict" style="width: 80px;"
               :src=returnUrlPosImg(nameProject,index,scenario.steps[index].operations[index2].id)>
                  <b-button class="btn_control"
                                 @click.native="savable = true;saveZones();
                                 savePosZone(scenario.steps[index].operations[index2].zone,
                                 scenario.steps[index].name)"
                                 :to="{ name: 'Stream',
                                 params:{ type: 'pos', project: nameProject,
                                 step: scenario.steps[index].id,
                                 zone: scenario.steps[index].operations[index2].zone,
                                 name: scenario.steps[index].operations[index2].name,
                                 id: scenario.steps[index].operations[index2].id,
                                 pos: `step${index}_${index2}`}}">
                  {{$t('Tcp')}}
                  </b-button>
                </div>
                </b-col>
                  <b-col class="title_op">
                    <label>
                      Zone:
                    </label>
                    <b-form-select v-model="scenario.steps[index].operations[index2].zone"
                                   v-on:change=
                                     "selectZone(scenario.steps[index].operations[index2].zone)"
                                   >
                      <option v-for="(item,i) in startPosition.name"
                              v-bind:key="i" :value="i" >
                       Zone - {{i}}: {{item}}
                    </option>
                    </b-form-select>
                    <p v-if="scenario.steps[index].operations[index2].zone === ''">
                      This field is required
                    </p>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <b-button v-on:click="changeOrderOps(index, index2,index2 - 1);">
                        <i class="bi bi-arrow-up"></i>
                      </b-button>
                    </b-col>
                    <b-col>
                      <b-button v-on:click="changeOrderOps(index, index2,index2 + 1);">
                        <i class="bi bi-arrow-down"></i>
                      </b-button>
                    </b-col>
                  </b-row>
                </div>
                </draggable>
                </div>
                <b-row class="float-start">
                  <b-col>
                    <b-button class="add_btn" v-if="scenario.steps[index].name !== ''"
                              v-on:click="scenario.steps[index].operations.push(
                {id: scenario.steps[index].operations.length, zone: '', action: '', name: ''})">
                        {{$t('Ao')}}</b-button>
                  </b-col>
                  <b-col>
                   <b-button class="add_btn" v-if="scenario.steps[index].name !== ''"
                              v-on:click="openModalTemp(index)">
                        {{$t('At')}}</b-button>
                  </b-col>
               </b-row>
                <b-button size="sm" variant="danger" class="float-right"
                          v-on:click="scenario.steps.splice(index,1)">
                 {{$t('Rs')}}
                </b-button>
              </b-tab>
              <template #tabs-end>
                <b-nav-item role="presentation"
                            v-on:click="scenario.steps.push
                            ({operations: [], name: '', id: scenario.steps.length});tabs = tabs + 1"
                            href="#"><b>+</b></b-nav-item>
                <b-nav-item role="presentation"
                            v-on:click="showModalSteps()"
                            href="#"><b>{{$t('Co')}}</b></b-nav-item>
                <b-modal id="modal-steps" @cancel="nameProject = ''"
                 :title="$t('Co')">
                  <p v-bind:key="index" v-for='(item, index) in scenario.steps'>
                    {{item['name']}}
                    <b-button class="float-right" ref=""
                              v-on:click="changeOrderSteps(index,index + 1);"><i class="bi bi-arrow-down"></i>
                    </b-button>
                    <b-button class="float-right" ref=""
                              v-on:click="changeOrderSteps(index,index - 1);"><i class="bi bi-arrow-up"></i>
                    </b-button>
                  <p>
                  </p>
                </b-modal>
                <b-modal id="modal-template" @cancel="nameProject = ''"
                 @ok="addTemplate(curr_step)" title="Add a template pre made">
                    <b-form-select v-model="temp_tmp">
                      <option v-for="(p, index) in temp_data"
                              v-bind:key="index"
                              :value="p.content">
                        {{p.name}}
                      </option>
                    </b-form-select>
                  <p>
                  </p>
                </b-modal>
              </template>
            </b-tabs>
          </b-card>
          </b-card>
      </b-col>
    </b-row>
    <b-row class="bot_bar mx-auto btn_nav">
      <b-col>
        <b-button class="float-center btn_bot_bar" ref="back-save"
          v-on:click="reinit = true; showModalSave();">{{ $t('bH')}}
        </b-button>
      </b-col>
      <b-col>
        <b-button class="float-center btn_bot_bar" ref="back-save"
                  v-on:click="saveZones(); $router.push({ name: 'View_Img',
                  params: { load: nameProject }});">
                {{$t('Ez')}}
        </b-button>
      </b-col>
      <b-col>
        <b-button class="float-center btn_bot_bar" ref="back-save"
                  v-on:click="saveZones()" :to="{ name: 'Stream', params:
                       { type: 'global', project: nameProject, step: 'None',
                       pos: 'None', name: 'None', id: 'None', zone: 'None' }}">;">
                Contrôle final
        </b-button>
      </b-col>
      <b-col>
        <b-button class="float-center btn_bot_bar" ref="back-save"
                  v-on:click="generateReport();">
                Générer PDF
        </b-button>
      </b-col>
      </b-row>
  </b-container>

<VueHtml2pdf
        :show-layout="false"
        :float-layout="true"
        :enable-download="true"
        :preview-modal="true"
        :paginate-elements-by-height="1400"
        filename="myPDF"
        :pdf-quality="2"
        :manual-pagination="false"
        pdf-format="a4"
        pdf-orientation="landscape"
        ref="html2Pdf"
    >
   <section slot="pdf-content">
     <b-container class="text-center" style="width: 100vw">
     <b-row>
       <b-col class="text-center">
          <h1>{{nameProject}}</h1>
       </b-col>
     </b-row>
     <div class="steps_pdf" style="margin-left: 100px; text-align: left">
       <h2>Zones</h2>
       <img v-if="img1 !== ''" style="width: 600px"
        :src='"../../../server/store/"+nameProject+"/screen_canvas.png"' >
       <h2>Étapes</h2>
      <div  v-for='(item, index) in scenario.steps' v-bind:key="index">
        <h4>{{scenario.steps[index].name}}</h4>
      <div v-for='(item2, index2) in scenario.steps[index].operations' v-bind:key="index2">
        <p>L'opération "{{scenario.steps[index].operations[index2].name}}" est de type
        {{scenario.steps[index].operations[index2].action}}

        <span v-if="scenario.steps[index].operations[index2].action === 'pick'">
        {{text_altn.collect}}{{startPosition.name[scenario.steps[index].operations[index2].zone]}}
        </span>
        <span v-if="scenario.steps[index].operations[index2].action === 'place'">
        {{text_altn.display}}{{startPosition.name[scenario.steps[index].operations[index2].zone]}}
        </span>
        </p>
      </div>
      </div>
     </div>
     </b-container>
   </section>

</VueHtml2pdf>
</div>
</template>

<script>
import axios from 'axios';
import draggable from 'vuedraggable';
import VueHtml2pdf from 'vue-html2pdf';
import { required } from 'vuelidate/lib/validators';
import myImg from '../../../server/screen.jpg';
import templ from '../assets/templates.json';

export default {
  name: 'create_scenario',
  components: {
    draggable,
    VueHtml2pdf,
  },
  data() {
    return {
      languageArray: ['en', 'fr'],
      tabActive: 0,
      tabs: [],
      id_zone: 0,
      pos_pic: null,
      required: false,
      isVoid: false,
      editField: '',
      savable: false,
      zoneMode: null,
      zoneName: null,
      text_altn: {
        ctrl: 'Il faut donc que le système effectue un contrôle de la pièce disposée dans la zone ',
        ctrl2: ' avec cette image de référence ',
        collect: 'Il faut donc prendre une pièce dans la zone ',
        display: 'Il faut donc  installé la pièce dans la zone d\'assemblage',
      },
      mode_options: [
        { value: null, text: 'Default' },
        { value: 'assembly', text: this.$t('ass') },
        { value: 'collect', text: this.$t('col') },
        { value: 'display', text: this.$t('dis') },
      ],
      curr_step: null,
      temp: templ,
      temp_tmp: null,
      temp_data: [],
      level: null,
      level_options: [
        { value: null, text: 'Choose a level' },
        { value: 0, text: this.$t('1l') },
        { value: 1, text: this.$t('2l') },
        { value: 2, text: this.$t('3l') },
      ],
      action_options: [
        { value: '', text: this.$t('Ca') },
        { value: 'pick', text: this.$t('pick') },
        { value: 'place', text: this.$t('place') },
        { value: 'control', text: this.$t('ctrl') },
      ],
      ctx: null,
      widthCanvas: process.env.VUE_APP_WIDTH,
      select: false,
      nameProject: '',
      saved: false,
      dragging: false,
      reinit: false,
      doScenario: false,
      doRects: false,
      selectionMode: false,
      img1: '',
      canvas: document.querySelector('canvas'),
      rect: {
        startX: null,
        startY: null,
        w: null,
        h: null,
      },
      startPosition: {
        id: [],
        name: [],
        x: [],
        y: [],
        z: [],
        w: [],
        h: [],
        type: [],
        selected: [],
      },
      name_steps: '',
      scenario: {
        name: this.nameProject,
        steps: [{
          name: '',
          id: 0,
          operations: [],
        }],
      },
      crop: {
        y: null,
        x: null,
        w: null,
        h: null,
        type: null,
      },
    };
  },
  validations: {
    scenario: {
      $each: {
        steps: {
          name: {
            required,
          },
        },
      },
    },
  },
  created() {
    window.addEventListener('keydown', (e) => {
      if (e.key === 'c') {
        this.changeType('check');
      }
      if (e.key === 'a') {
        this.changeType('action');
      }
    });
  },
  methods: {
    generateReport() {
      console.log('Hello');
      this.$refs.html2Pdf.generatePdf();
    },
    editForm(f) {
      this.editField = f;
    },
    noEditForm() {
      this.editField = '';
    },
    changeOrderOps(step, i, j) {
      if (j >= this.scenario.steps[step].operations.length) {
        // eslint-disable-next-line no-param-reassign
        j = 0;
      }
      if (j < 0) {
        // eslint-disable-next-line no-param-reassign
        j = this.scenario.steps[step].operations.length + 1;
      }
      this.scenario.steps[step].operations.splice(j, 0,
        this.scenario.steps[step].operations.splice(i, 1)[0]);
    },
    changeOrderSteps(i, j) {
      if (j >= this.scenario.steps.length) {
        // eslint-disable-next-line no-param-reassign
        j = 0;
      }
      if (j < 0) {
        // eslint-disable-next-line no-param-reassign
        j = this.scenario.steps.length + 1;
      }
      this.scenario.steps.splice(j, 0, this.scenario.steps.splice(i, 1)[0]);
    },
    convertCoordForJson() {
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.startPosition.y[j] *= (this.img1.height / (this.widthCanvas * 0.5625));
        this.startPosition.x[j] *= (this.img1.width / this.widthCanvas);
        this.startPosition.w[j] = this.startPosition.x[j]
          + this.startPosition.w[j] * (this.img1.width / this.widthCanvas);
        this.startPosition.h[j] = this.startPosition.y[j]
          + this.startPosition.h[j] * (this.img1.height / (this.widthCanvas * 0.5625));
      }
    },
    convertCoordForCanvas() {
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.startPosition.y[j] /= (this.img1.height / (this.widthCanvas * 0.5625));
        this.startPosition.x[j] /= (this.img1.width / this.widthCanvas);
        this.startPosition.w[j] = this.startPosition.w[j]
          / (this.img1.width / this.widthCanvas) - this.startPosition.x[j];
        this.startPosition.h[j] = this.startPosition.h[j]
          / (this.img1.height / (this.widthCanvas * 0.5625)) - this.startPosition.y[j];
      }
    },
    onTabChanged() {
      this.tabActive = this.tabs.length;
    },
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty,
      };
    },
    savePosZone(id) {
      this.crop.y = this.startPosition.y[id] * (this.img1.height / (this.widthCanvas * 0.5625));
      this.crop.x = this.startPosition.x[id] * (this.img1.width / this.widthCanvas);
      this.crop.w = this.startPosition.w[id] * (this.img1.width / this.widthCanvas);
      this.crop.h = this.startPosition.h[id] * (this.img1.height / (this.widthCanvas * 0.5625));
      this.crop.type = this.startPosition.type;
      console.log(this.scenario.steps);
      const path1 = 'http://127.0.0.1:5000/save_pos_zone';
      axios.post(path1, {
        x: this.crop.x,
        y: this.crop.y,
        w: this.crop.w,
        h: this.crop.h,
        type: this.crop.type,
      })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    returnUrlPosImg(folder, stepId, opId) {
      console.log(`../../../server/store/${folder}/imgs/step${stepId}_${opId}.png`);
      // eslint-disable-next-line
      try {
        // eslint-disable-next-line
        return require(`../../../server/store/${folder}/imgs/step${stepId}_${opId}.png`);
      } catch (e) {
        const path1 = 'http://127.0.0.1:5000/save_crop';
        axios.post(path1, {
          folder: this.nameProject, file: `step${stepId}_${opId}`, imgg: '',
        })
          .catch((error) => {
            // eslint-disable-next-line
          console.error(error);
          });
        // eslint-disable-next-line
       return 'null';
      }
    },
    removeOp(index, index2) {
      const path1 = 'http://127.0.0.1:5000/remove_op';
      if (this.scenario.steps[index].operations[index2].action === 'control') {
        axios.post(path1, {
          folder: this.nameProject, file: `step${index}_${index2}`,
        })
          .catch((error) => {
            // eslint-disable-next-line
          console.error(error);
          });
      }
      this.saveZones();
    },
    showModalSave() {
      if (this.saved === false) {
        this.$root.$emit('bv::show::modal', 'modal-save', '#back-save');
      } else {
        this.saveZones();
      }
    },
    showModalSteps() {
      this.$root.$emit('bv::show::modal', 'modal-steps');
    },
    hideModal() {
      this.$bvModal.hide('modal-zones');
    },
    checkZone(index, index2) {
      let zAssembly = '';
      // eslint-disable-next-line
      for (const [key, value] of Object.entries(this.startPosition.type)) {
        if (value === 'assembly') {
          zAssembly = key;
          break;
        }
      }
      if (this.scenario.steps[index].operations[index2].action === 'place'
        || this.scenario.steps[index].operations[index2].action === 'control') {
        // eslint-disable-next-line radix
        this.scenario.steps[index].operations[index2].zone = parseInt(zAssembly);
      }
    },
    checkOp() {
      /* eslint-disable */
      for (const [key, value] of Object.entries(this.scenario.steps)) {
        if (value.name === '') {
          this.isVoid = true;
        }
        for (const [ke, val] of Object.entries(value)) {
          for (const [k, v] of Object.entries(val)) {
            if (v.name === '' || v.action === '' || v.zone === '') {
              this.isVoid = true;
            }
          }
        }
      }
    },
    saveZones() {
      this.checkOp();
      const dataURL = this.canvas.toDataURL();
      if (this.isVoid === false) {
        this.savable = true;
      } else {
        this.$root.$emit('bv::show::modal', 'modal-isVoid', '#back-save');
      }
      if (this.savable) {
        const path1 = 'http://127.0.0.1:5000/savezones';
        const path2 = 'http://127.0.0.1:5000/save_scenario';
        const path3 = 'http://127.0.0.1:5000/reinit_img';
        const dataURL = this.canvas.toDataURL();
        this.convertCoordForJson();
        axios.post(path1, {zones: this.startPosition, folder: this.nameProject, imgg: dataURL})
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
        axios.post(path2, {scenario: this.scenario, folder: this.nameProject}).then(() => {
          if (this.reinit === true) {
            axios.get(path3)
              .catch((error) => {
                // eslint-disable-next-line
                console.error(error);
              });
            this.$router.push('/index');
          }
        })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
        this.convertCoordForCanvas();
      }
    },
    selectZoneMouse(e) {
      this.canvas = document.querySelector('canvas');
      const rOffset = this.canvas.getBoundingClientRect();
      const posX = e.clientX - rOffset.left;
      const posY = e.clientY - rOffset.top;
      console.log(this.startPosition);
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        if (posX >= this.startPosition.x[j] && posY >= this.startPosition.y[j]
        && posX <= this.startPosition.x[j] + this.startPosition.w[j]
        && posY <= this.startPosition.y[j] + this.startPosition.h[j]) {
          this.$root.$emit('bv::toggle::collapse', `accordion-${j}`);
        }
      }
    },
    selectZone(i) {
      console.log(this.required);
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.startPosition.selected[j] = false;
      }
      this.ctx.globalAlpha = 1;
      this.startPosition.selected[i] = true;
      this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
      this.ctx.drawImage(this.img1, 0, 0, this.widthCanvas,
        this.widthCanvas * (this.img1.height / this.img1.width));
      this.drawOldRects();
    },
    removeZone(i) {
      this.startPosition.id.splice(i, 1);
      this.startPosition.x.splice(i, 1);
      this.startPosition.y.splice(i, 1);
      this.startPosition.w.splice(i, 1);
      this.startPosition.h.splice(i, 1);
      this.startPosition.type.splice(i, 1);
      this.startPosition.selected.splice(i, 1);
      this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
      this.ctx.drawImage(this.img1, 0, 0, this.widthCanvas,
        this.widthCanvas * (this.img1.height / this.img1.width));
      this.drawOldRects();
    },
    readZones() {
      const path = 'http://127.0.0.1:5000/readzones';
      let d;
      this.startPosition.name = [];
      this.startPosition.x = [];
      this.startPosition.y = [];
      this.startPosition.w = [];
      this.startPosition.h = [];
      this.startPosition.type = [];
      axios.get(path, { params: { folder: this.$route.params.load, mode: 'normal' } })
        .then((res) => {
          d = res.data;
          /* eslint-disable */
          for (const [key,value] of Object.entries(d)) {
            for (const [k,v] of Object.entries(value)) {
              this.startPosition.name.push(v.name);
              this.startPosition.id.push(v.id);
              this.startPosition.x.push(v.position.x1);
              this.startPosition.y.push(v.position.y1);
              this.startPosition.w.push(v.position.x2);
              this.startPosition.h.push(v.position.y2);
              this.startPosition.z.push(v.position.Lvl);
              this.startPosition.type.push((v.type));
            }
          }
          this.convertCoordForCanvas();
        /* eslint-enable */
          this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
          this.ctx.drawImage(this.img1, 0, 0, this.widthCanvas,
            this.widthCanvas * (this.img1.height / this.img1.width));
          this.drawOldRects();
        })
        .catch((error) => {
          console.error(error);
        });
    },
    readScenario() {
      const path = 'http://127.0.0.1:5000/readscenario';
      let d;
      axios.get(path, { params: { folder: this.$route.params.load } })
        .then((res) => {
          d = res.data;
          /* eslint-disable */
          this.scenario = d;
          console.log(d.steps)
          if (this.scenario.name !== '') {
            this.doScenario = true;
          }
        /* eslint-enable */
        })
        .catch((error) => {
          console.error(error);
        });
    },
    addTemplate(i) {
      this.scenario.steps[i].operations = this.temp_tmp;
    },
    openModalTemp(i) {
      this.curr_step = i;
      this.$root.$emit('bv::show::modal', 'modal-template', '#back-save');
    },
    readTemplates() {
      // eslint-disable-next-line
      for (const [key, value] of Object.entries(this.temp.temp)) {
        this.temp_data.push({ name: value.name, content: value.operations });
      }
      console.log(this.temp_data);
    },
    startSelect(e) {
      const rOffset = this.canvas.getBoundingClientRect();
      this.selectionMode = true;
      this.rect.startX = e.clientX - rOffset.left;
      this.rect.startY = e.clientY - rOffset.top;
    },
    insertImg() {
      this.img1 = new window.Image();
      this.img1.src = myImg;
      this.img1.onload = () => {
        this.ctx.drawImage(this.img1, 0, 0, this.widthCanvas,
          this.widthCanvas * (this.img1.height / this.img1.width));
      };
      this.canvas = document.querySelector('canvas');
    },
    drawRect(e) {
      this.canvas = document.querySelector('canvas');
      const rOffset = this.canvas.getBoundingClientRect();
      if (this.selectionMode) {
        this.ctx.globalAlpha = 1;
        this.rect.w = (e.clientX - rOffset.left) - this.rect.startX;
        this.rect.h = (e.clientY - rOffset.top) - this.rect.startY;
        this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
        this.ctx.drawImage(this.img1, 0, 0, this.widthCanvas,
          this.widthCanvas * (this.img1.height / this.img1.width));
        this.ctx.globalAlpha = 0.4;
        this.ctx.beginPath();
        this.ctx.rect(this.rect.startX, this.rect.startY, this.rect.w, this.rect.h);
        if (this.zoneMode === null) {
          this.ctx.strokeStyle = 'black';
        } else if (this.zoneMode === 'assembly') {
          this.ctx.strokeStyle = 'red';
        } else if (this.zoneMode === 'collect') {
          this.ctx.strokeStyle = 'yellow';
        } else if (this.zoneMode === 'display') {
          this.ctx.strokeStyle = 'green';
        }
        this.ctx.closePath();
        if (Math.abs(this.rect.h * this.rect.w) > 40) {
          this.ctx.stroke();
        }
        this.drawOldRects();
      }
    },
    changeType(value) {
      this.zoneMode = value;
    },
    drawOldRects() {
      for (let i = 0; i < this.startPosition.x.length; i += 1) {
        if (this.startPosition.selected[i] === true) {
          this.ctx.globalAlpha = 1;
        } else {
          this.ctx.globalAlpha = 0.4;
        }
        this.ctx.beginPath();
        this.ctx.rect(this.startPosition.x[i], this.startPosition.y[i],
          this.startPosition.w[i], this.startPosition.h[i]);
        if (this.startPosition.type[i] === null) {
          this.ctx.strokeStyle = 'black';
        } else if (this.startPosition.type[i] === 'assembly') {
          this.ctx.strokeStyle = 'red';
        } else if (this.startPosition.type[i] === 'collect') {
          this.ctx.strokeStyle = 'yellow';
        } else if (this.startPosition.type[i] === 'display') {
          this.ctx.strokeStyle = 'green';
        }
        this.ctx.closePath();
        this.ctx.stroke();
      }
    },
    stopSelect() {
      if (this.rect.w < 0 && this.rect.h > 0) {
        this.rect.startX += this.rect.w;
        this.rect.w = Math.abs(this.rect.w);
      } else if (this.rect.h < 0 && this.rect.w > 0) {
        this.rect.startY += this.rect.h;
        this.rect.h = Math.abs(this.rect.h);
      } else if (this.rect.w < 0 && this.rect.h < 0) {
        this.rect.startX += this.rect.w;
        this.rect.startY += this.rect.h;
        this.rect.h = Math.abs(this.rect.h);
        this.rect.w = Math.abs(this.rect.w);
      }
      if ((Math.abs(this.rect.w * this.rect.h > 40)) && (this.selectionMode)) {
        this.startPosition.id.push(this.startPosition.name.length);
        this.startPosition.name.push(this.zoneName);
        this.startPosition.x.push(this.rect.startX);
        this.startPosition.y.push(this.rect.startY);
        this.startPosition.w.push(this.rect.w);
        this.startPosition.h.push(this.rect.h);
        this.startPosition.z.push(this.level);
        this.startPosition.type.push(this.zoneMode);
        this.startPosition.selected.push(false);
      }
      this.selectionMode = false;
      this.doRects = false;
    },
    checkImg() {
      const path = 'http://127.0.0.1:5000/load_img';
      this.nameProject = this.$route.params.load;
      this.saved = true;
      this.readZones();
      this.doScenario = true;
      this.readScenario();
      this.readTemplates();
      axios.get(path, { params: { folder: this.$route.params.load } })
        .catch((error) => {
        // eslint-disable-next-line
        console.error(error);
        });
    },
  },
  mounted() {
    localStorage.setItem('reloaded', 'false');
    this.$refs.select.height = this.widthCanvas * 0.5625;
    this.canvas = document.querySelector('canvas');
    this.$refs.select.width = this.widthCanvas;
    this.ctx = this.$refs.select.getContext('2d');
    this.ctx.lineWidth = 5;
    this.insertImg();
    this.checkImg();
  },
};
</script>

<style>
.do_rects {
  cursor: crosshair;
}

.card.scenario {
  min-width: 100%;
}

.title_op {
  width: auto;
  font-size: 21px;
  text-align: left;
}
.title_op label {
  float: left;
  margin-right: 10px;
  width: auto;
}

label {
  font-weight: bold;
  width: 100%;
}

.row {
  width: 100%;
}

.content_ui {
  height: 105vh;
  margin-right: 0;
  max-width: 100%;
  margin-left: 0;
}

.operation {
  cursor: grab;
  margin-top: 20px;
  padding: 1rem;
  background-color: lightgoldenrodyellow;
}

.step {
  background-color: ivory;
}

.btn_control {
  margin-left: 18px;
  margin-top: 1rem;
}

.card.scenario {
  border: none;
}

.card.scenario .card-header {
  background-color: whitesmoke;
}

img.ctrl_pict {
  border: 4px solid;
  float: right;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545 !important;
    border-color: #dc3545;
}

.nav-link {
  color: #1b1e21;
}

canvas.scenario {
  margin-top: 17vh;
}

.attributes {
  margin-left: auto;
}

label.lbl_ctrl_pct {
  float: left;
  margin-right: 0;
  display: block;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #1b1e21;
  background-color: #e6c21b;
}

.bot_bar {
    /* position: fixed; */
    position: fixed;
    bottom: 15px;
    /* height: 149px; */
    text-align: center;
    background: rgba(76, 175, 80, 0.3);
    padding: 9px;
}

.container {
  padding-left: 0 !important;
}

.btn_bot_bar {
  font-size: 0.8rem !important;
  padding: .8rem !important;
}
</style>
