<template>
    <div>
        <b-navbar type="dark" variant="dark">
        <b-navbar-nav>
        <b-navbar-brand class="mx-3" href="#">PMF Vision</b-navbar-brand>
        <!-- Navbar dropdowns -->
            <div class="lang-dropdown">
                <select v-model="$i18n.locale">
                    <option
                    v-for="(lang, i) in languageArray"
                    :key="`lang${i}`"
                    :value="lang"
                    >
                    {{ lang }}
                    </option>
                </select>
            </div>
      </b-navbar-nav>
        </b-navbar>
        <b-row>
          <b-col>
            <canvas v-bind:class="{ do_rects: doRects }" id='canvas' ref='select' v-on="doRects ?
        { mousedown: startSelect, mousemove: drawRect, mouseup: stopSelect } :
        {mousedown: selectZoneMouse}">
            </canvas>
          </b-col>
      </b-row>
      <b-row>

        <b-col>
          <b-button class="float-right" ref="back-save"
          v-on:click="saveZones();"
          :to="{ name: 'create_scenario', params:
                        { project: $route.params.project}}">
          {{ $t('Azc')}}
          </b-button>
        </b-col>
      </b-row>
            <b-row>
        <b-col v-for='(item, index) in nbrSteps' v-bind:key="item.id">
          <b-button v-on:click="currentV = index;insertImg('zone_'+index+'_dis.png');
          drawOldRects();"
                    v-b-toggle="'collapse-'+index" class="m-1">View {{index + 1}}</b-button>
          <b-collapse :id="'collapse-'+index" accordion="my-accordion" role="tabpanel">
            <b-card>
              <b-card-body>
                <b-row>
                  <b-col>
                    <!-- <img
                      :src='"../../../server/store/" + $route.params.project +
                      "/imgs/zone_" + index + "_dis.png"'> -->
                  </b-col>
                </b-row>
                <b-row>
        <b-col>
          <b-button v-b-modal.modal-zones>
          {{ $t('Nz')}}</b-button>
          <b-modal v-model="doRects" id="modal-zones"
                 title="Using Component Methods" hide-header hide-footer>
          <b-row>
            <b-col>
              <b-form-select v-if="doRects" v-model="zoneMode"
                             :options="mode_options"></b-form-select>
            </b-col>
            <b-col>
              <b-form-input v-if="doRects && zoneMode==='ocr'" v-model="expText"
                            :placeholder="'Expected text'"></b-form-input>
            </b-col>
            <b-col>
              <b-form-input v-if="doRects && zoneMode==='instruction'" v-model="instr"
                            :placeholder="'Instruction'"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-button variant="outline-danger" block @click="hideModal">
                Cancel</b-button>
            </b-col>
            <b-col>
              <b-button variant="outline-warning"
                        block v-on:click="hideModal(); doRects = true;">OK</b-button>
            </b-col>
          </b-row>
        </b-modal>
        </b-col>
          </b-row>
    <b-row class="my-accordion mx-auto" role="tablist">
      <b-row button v-for='(item2, index2) in
      img_zone.zones[index].x' v-bind:key="item2.id">
        <b-card no-body class="nzones mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block v-b-toggle="'accordion-' + index2" variant="info">
              Zone {{parseInt(img_zone.zones[index].id[index2])}}</b-button>
          </b-card-header>
          <b-collapse :id="'accordion-' + index2" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-row>
                <b-col>
                  <b-form-select v-model="img_zone.zones[index].type[index2]"
                                 :options="mode_options"></b-form-select>
                </b-col>
              </b-row>
              <b-row v-if="img_zone.zones[index].instruction[index2] !== ''">
                <b-col>
                  Instruction:
                  <b-form-input type="text" v-model="img_zone.zones[index].instruction[index2]">
                  </b-form-input>
                </b-col>
              </b-row>
              <b-row v-if="img_zone.zones[index].expected_text[index2] !== ''">
                <b-col>
                  OCR:
                  <b-form-input type="text" v-model="img_zone.zones[index].expected_text[index2]">
                  </b-form-input>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  X:<b-form-input type="number" v-model="img_zone.zones[index].x[index2]">
                  </b-form-input></b-col>
                  <b-col>
                  Y:<b-form-input type="number" v-model="img_zone.zones[index].y[index2]">
                  </b-form-input>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  Largeur:<b-form-input type="number" v-model="img_zone.zones[index].w[index2]">
                  </b-form-input></b-col>
                <b-col>
                  Hauteur:<b-form-input type="number" v-model="img_zone.zones[index].h[index2]">
                  </b-form-input>
                </b-col>
              </b-row>
              <b-row>
              <b-col>
                <b-button variant="danger" v-on:click="removeZone(index,index2)">{{$t('Rzz')}}</b-button>
              </b-col>
              </b-row>
            </b-card-body>
          </b-collapse>
        </b-card>
      </b-row>
      </b-row>
              </b-card-body>
            </b-card>
          </b-collapse>
        </b-col>
      </b-row>
    </div>
</template>

<script>
import axios from 'axios';
import { required } from 'vuelidate/lib/validators';
import config from '../../dist/config.json';
import myImg from '../../../server/screen.jpg';

export default {
  name: 'Final view',

  data() {
    return {
      zoneMode: null,
      doRects: false,
      currentV: 0,
      expText: '',
      nbrSteps: 0,
      instr: '',
      noCam: config.noZoomCam,
      img_zone: {
        name: [],
        zones: [{
          id: [],
          name: [],
          x: [],
          y: [],
          w: [],
          h: [],
          type: [],
          expected_text: [],
          instruction: [],
        }],
      },
      mode_options: [
        { value: null, text: this.$t('Ct') },
        { value: 'position', text: 'Position' },
        { value: 'ocr', text: 'OCR' },
        { value: 'instruction', text: 'Instruction' },
      ],
      startPosition: {
        id: [],
        name: [],
        x: [],
        y: [],
        z: [],
        w: [],
        h: [],
        type: [],
        selected: [],
      },
      rect: {
        startX: null,
        startY: null,
        x: null,
        y: null,
        ww: null,
        hh: null,
        w: null,
        h: null,
      },
      ctx: null,
      widthCanvas: process.env.VUE_APP_WIDTH,
      languageArray: ['en', 'fr'],
    };
  },
  validations: {
    zoneMode: {
      required,
    },
  },
  methods: {
    convertCoordForJson() {
      for (let i = 0; i < this.img_zone.zones.length; i += 1) {
        for (let j = 0; j < this.img_zone.zones[i].x.length; j += 1) {
        this.img_zone.zones[i].y[j] *= 2;
        this.img_zone.zones[i].x[j] *= 2;
        this.img_zone.zones[i].w[j] *= 2;
        this.img_zone.zones[i].h[j] *= 2;
        this.img_zone.zones[i].y[j] *= (this.img1.height / (this.widthCanvas * 0.5625));
        this.img_zone.zones[i].x[j] *= (this.img1.width / this.widthCanvas  * 0.5625);
        this.img_zone.zones[i].w[j] = this.img_zone.zones[i].x[j]
          + this.img_zone.zones[i].w[j] * (this.img1.width / this.widthCanvas  * 0.5625);
          this.img_zone.zones[i].h[j] = this.img_zone.zones[i].y[j]
          + this.img_zone.zones[i].h[j] * (this.img1.height / (this.widthCanvas * 0.5625));
        }
      }
    },
    convertCoordForCanvas() {
      for (let i = 0; i < this.img_zone.zones.length; i += 1) {
        for (let j = 0; j < this.img_zone.zones[i].x.length; j += 1) {
          this.img_zone.zones[i].y[j] /= 2;
          this.img_zone.zones[i].x[j] /= 2;
          this.img_zone.zones[i].w[j] /= 2;
          this.img_zone.zones[i].h[j] /= 2;
          this.img_zone.zones[i].y[j] /= (this.img1.height / (this.widthCanvas * 0.5625));
          this.img_zone.zones[i].x[j] /= (this.img1.width / this.widthCanvas   * 0.5625);
          this.img_zone.zones[i].w[j] = (this.img_zone.zones[i].w[j]
          / (this.img1.width / this.widthCanvas   * 0.5625) - this.img_zone.zones[i].x[j]);
          this.img_zone.zones[i].h[j] = (this.img_zone.zones[i].h[j]
          / (this.img1.height / (this.widthCanvas * 0.5625)) - this.img_zone.zones[i].y[j]);
        }
      }
    },
    remakeZone(i) {
      this.zoneName = this.startPosition.name[i];
      this.zoneMode = this.startPosition.type[i];
      this.removeZone(i);
      this.doRects = true;
    },
    saveZones() {
      const path1 = 'http://127.0.0.1:5000/save_zones_final';
      console.log(this.img_zone);
      this.convertCoordForJson();
      axios.post(path1, { view: this.img_zone, folder: this.$route.params.project })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
      this.convertCoordForCanvas();
    },
    hideModal() {
      this.$v.$touch();
      this.$bvModal.hide('modal-zones');
    },
    startSelect(e) {
      const rOffset = this.canvas.getBoundingClientRect();
      this.rect.startX = e.clientX - rOffset.left;
      this.rect.startY = e.clientY - rOffset.top;
      this.selectionMode = true;
      this.rect.x = e.offsetX;
      this.rect.y = e.offsetY;
    },
    drawRect(e) {
      this.canvas = document.querySelector('canvas');
      const rOffset = this.canvas.getBoundingClientRect();
      if (this.selectionMode) {
        this.rect.w = (e.clientX - rOffset.left) - this.rect.startX;
        this.rect.h = (e.clientY - rOffset.top) - this.rect.startY;
        this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
        this.ctx.drawImage(this.img1, 0, 0,
          this.img_w * 0.5625 / 2,
          this.img_h * 0.5625 / 2);
        this.ctx.beginPath();
        this.ctx.rect(this.rect.startX, this.rect.startY, this.rect.w, this.rect.h);
        this.ctx.strokeStyle = 'red';

        this.ctx.closePath();
        if (Math.abs(this.rect.h * this.rect.w) > 40) {
          this.ctx.stroke();
        }
        this.drawOldRects();
      }
    },
    drawOldRects() {
      for (let i = 0; i < this.img_zone.zones[this.currentV].x.length; i += 1) {
        this.ctx.beginPath();
        this.ctx.rect(this.img_zone.zones[this.currentV].x[i],
          this.img_zone.zones[this.currentV].y[i],
          this.img_zone.zones[this.currentV].w[i],
          this.img_zone.zones[this.currentV].h[i]);
        this.ctx.strokeStyle = 'red';
        this.ctx.closePath();
        this.ctx.stroke();
      }
    },
    stopSelect() {
      if (this.rect.w < 0 && this.rect.h > 0) {
        this.rect.startX += this.rect.w;
        this.rect.w = Math.abs(this.rect.w);
      } else if (this.rect.h < 0 && this.rect.w > 0) {
        this.rect.startY += this.rect.h;
        this.rect.h = Math.abs(this.rect.h);
      } else if (this.rect.w < 0 && this.rect.h < 0) {
        this.rect.startX += this.rect.w;
        this.rect.startY += this.rect.h;
        this.rect.h = Math.abs(this.rect.h);
        this.rect.w = Math.abs(this.rect.w);
      }
      if ((Math.abs(this.rect.w * this.rect.h > 40)) && (this.selectionMode)) {
        this.img_zone.zones[this.currentV].id.push(this.img_zone.zones[this.currentV].x.length);
        this.img_zone.zones[this.currentV].x.push(this.rect.startX);
        this.img_zone.zones[this.currentV].y.push(this.rect.startY);
        this.img_zone.zones[this.currentV].w.push(this.rect.w);
        this.img_zone.zones[this.currentV].h.push(this.rect.h);
        this.img_zone.zones[this.currentV].type.push(this.zoneMode);
        this.img_zone.zones[this.currentV].expected_text.push(this.expText);
        this.img_zone.zones[this.currentV].instruction.push(this.instr);
      }
      this.selectionMode = false;
      this.doRects = false;
      console.log(this.img_zone);
    },
    removeZone(i, j) {
      this.img_zone.zones[i].x.splice(j, 1);
      this.img_zone.zones[i].y.splice(j, 1);
      this.img_zone.zones[i].w.splice(j, 1);
      this.img_zone.zones[i].h.splice(j, 1);
      this.img_zone.zones[i].type.splice(j, 1);
      this.img_zone.zones[i].expected_text.splice(j, 1);
      this.img_zone.zones[i].instruction.splice(j, 1);
      this.img_zone.zones[i].id.splice(j, 1);
      this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
      this.ctx.drawImage(this.img1, 0, 0, this.img1.width / 2 * 0.5625,
        this.img1.height / 2 * 0.5625);
      this.drawOldRects();
    },
    selectZone(i) {
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.startPosition.selected[j] = false;
      }
      this.startPosition.selected[i] = true;
      this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
      this.ctx.drawImage(this.img1, 0, 0,
        this.img_w * 0.5625,
        this.img_h * 0.5625);
      this.drawOldRects();
    },
    selectZoneMouse(e) {
      const rOffset = this.canvas.getBoundingClientRect();
      const posX = e.clientX - rOffset.left;
      const posY = e.clientY - rOffset.top;
      console.log(this.startPosition);
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        if (posX >= this.startPosition.x[j] && posY >= this.startPosition.y[j]
        && posX <= this.startPosition.x[j] + this.startPosition.w[j]
        && posY <= this.startPosition.y[j] + this.startPosition.h[j]) {
          this.$root.$emit('bv::toggle::collapse', `accordion-${j}`);
        }
      }
    },
    readZonesCtrl() {
      const path = 'http://127.0.0.1:5000/read_zones_ctrl';
      let f = false;
      let d;
      try {
        require(`../../../server/store/${this.$route.params.project}/zones_views.json`);
      } catch (e) {
        f = true;
        axios.get(path, { params: { folder: this.$route.params.project, first: f } })
          .then((res) => {
            d = res.data;
            // eslint-disable-next-line radix
            this.nbrSteps = parseInt(d);
            for (let j = 0; j < this.nbrSteps - 1; j += 1) {
              this.img_zone.zones.push({
                id: [],
                type: [],
                expected_text: [],
                instruction: [],
                x: [],
                y: [],
                w: [],
                h: [],
              });
            }
          });
        console.log(this.img_zone);
      }
      if (f === false) {
        axios.get(path, { params: { folder: this.$route.params.project, first: f } })
          .then((res) => {
            d = res.data;
            this.nbrSteps = d['steps'].length;
            /* eslint-disable */
            for (let j = 0; j < d['steps'].length - 1; j += 1) {
              this.img_zone.name.push(d['steps'][j]['name']);
              this.img_zone.zones.push({
                'id': [],
                'type': [],
                'expected_text': [],
                'instruction': [],
                'x': [],
                'y': [],
                'w': [],
                'h': []
              });
            }
            for (let j = 0; j < d['steps'].length; j += 1) {
              let z = d['steps'][j]['zones'];
              for (let k = 0; k < d['steps'][j]['zones'].length; k += 1) {
                console.log(this.img_zone);
                this.img_zone.zones[j].id.push(z[k].id);
                this.img_zone.zones[j].x.push(z[k].position.x1);
                this.img_zone.zones[j].y.push(z[k].position.y1);
                this.img_zone.zones[j].w.push(z[k].position.x2);
                this.img_zone.zones[j].h.push(z[k].position.y2);
                this.img_zone.zones[j].type.push(z[k].position.type);
                this.img_zone.zones[j].expected_text.push(z[k].position.expected_text);
                this.img_zone.zones[j].instruction.push(z[k].position.instruction);
              }
            }
            this.convertCoordForCanvas();
            /* eslint-enable */
          })
      }
    },
    insertImg(name) {
      const reloaded = localStorage.getItem('reloaded');
      this.img1 = new window.Image();
      this.img1.src = require(`../../../server/store/${this.$route.params.project}/imgs/${name}`);
      this.img1.onload = () => {
        if (reloaded !== 'true') {
          localStorage.setItem('reloaded', 'false');
          window.location.reload();
        }
        this.$refs.select.height = this.img1.height / 2 * 0.5625;
        this.$refs.select.width = this.img1.width / 2 * 0.5625;
        this.ctx = this.$refs.select.getContext('2d');
        this.canvas = document.querySelector('canvas');
        this.img_w = this.img1.width;
        this.img_h = this.img1.height;
        this.ctx.drawImage(this.img1, 0, 0,
          this.img1.width / 2 * 0.5625,
          this.img1.height / 2 * 0.5625);
        this.drawOldRects();
      };
      this.drawOldRects();
    },
  },
  mounted() {
    localStorage.setItem('reloaded', 'true');
    this.$refs.select.height = this.widthCanvas * 0.5625;
    this.$refs.select.width = this.widthCanvas;
    this.ctx = this.$refs.select.getContext('2d');
    this.canvas = document.querySelector('canvas');
    this.insertImg('zone_0_dis.png');
    this.readZonesCtrl();
  },
};
</script>
