<template>
    <div>
        <b-navbar type="dark" variant="dark">
        <b-navbar-nav>
        <b-navbar-brand class="mx-3" href="#">PMF Vision</b-navbar-brand>
        <!-- Navbar dropdowns -->
            <div class="lang-dropdown">
                <select v-model="$i18n.locale">
                    <option
                    v-for="(lang, i) in languageArray"
                    :key="`lang${i}`"
                    :value="lang"
                    >
                    {{ lang }}
                    </option>
                </select>
            </div>
      </b-navbar-nav>
        </b-navbar>
        <b-row>
          <b-col>
            <canvas v-bind:class="{ do_rects: doRects }" id='canvas' ref='select' v-on="doRects ?
        { mousedown: startSelect, mousemove: drawRect, mouseup: stopSelect } :
        {mousedown: selectZoneMouse}">
            </canvas>
          </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-button v-b-modal.modal-zones>
          {{ $t('Nz')}}</b-button>
          <b-modal v-model="doRects" id="modal-zones"
                 title="Using Component Methods" hide-header hide-footer>
          <b-row>
            <b-col>
              <b-button variant="outline-danger" block @click="hideModal">
                Cancel</b-button>
            </b-col>
            <b-col>
              <b-button variant="outline-warning"
                        block v-on:click="hideModal(); doRects = true;">OK</b-button>
            </b-col>
          </b-row>
        </b-modal>
        </b-col>
        <b-col>
          <b-button class="float-right" ref="back-save"
          v-on:click="saveZones();"
          :to="{ name: 'Zones final control', params:
                        { project: $route.params.project, zoom: $route.params.zoom}}">
          {{ $t('Azc')}}
          </b-button>
        </b-col>
      </b-row>
    </div>
</template>

<script>
import axios from 'axios';
import {required} from 'vuelidate/lib/validators';
import config from '../../dist/config.json';
import myImg from '../../../server/screen.jpg';

export default {
  name: 'Global view',

  data() {
    return {
      zoneMode: null,
      doRects: false,
      z: this.$route.params.zoom,
      noCam: config.noZoomCam,
      startPosition: {
        id: [],
        x: [],
        y: [],
        w: [],
        h: [],
        zoom: [],
        selected: [],
      },
      rect: {
        startX: null,
        startY: null,
        x: null,
        y: null,
        ww: null,
        hh: null,
        w: null,
        h: null,
      },
      ctx: null,
      widthCanvas: process.env.VUE_APP_WIDTH,
      languageArray: ['en', 'fr'],
    };
  },
  validations: {
    zoneMode: {
      required,
    },
  },
  methods: {
    convertCoordForJson() {
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.startPosition.y[j] *= (this.img1.height / (this.widthCanvas * 0.5625));
        this.startPosition.x[j] *= (this.img1.width / this.widthCanvas * 0.5625);
        this.startPosition.w[j] = this.startPosition.x[j]
          + this.startPosition.w[j] * (this.img1.width / this.widthCanvas * 0.5625);
        this.startPosition.h[j] = this.startPosition.y[j]
          + this.startPosition.h[j] * (this.img1.height / (this.widthCanvas * 0.5625));
      }
    },
    convertCoordForCanvas() {
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.startPosition.y[j] /= (this.img1.height / (this.widthCanvas * 0.5625));
        this.startPosition.x[j] /= (this.img1.width / this.widthCanvas * 0.5625);
        this.startPosition.w[j] = this.startPosition.w[j]
          / (this.img1.width / this.widthCanvas * 0.5625) - this.startPosition.x[j];
        this.startPosition.h[j] = this.startPosition.h[j]
          / (this.img1.height / (this.widthCanvas * 0.5625)) - this.startPosition.y[j];
      }
    },
    saveZones() {
      localStorage.setItem('reloaded', 'false');
      console.log(localStorage.getItem('reloaded'));
      const path1 = 'http://127.0.0.1:5000/save_zone_global';
      this.convertCoordForJson();
      axios.post(path1, { zones: this.startPosition, zoom: this.z, folder: this.$route.params.project })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
      this.convertCoordForCanvas();
    },
    hideModal() {
      this.$v.$touch();
      this.$bvModal.hide('modal-zones');
    },
    startSelect(e) {
      const rOffset = this.canvas.getBoundingClientRect();
      this.rect.startX = e.clientX - rOffset.left;
      this.rect.startY = e.clientY - rOffset.top;
      this.selectionMode = true;
      this.rect.x = e.offsetX;
      this.rect.y = e.offsetY;
    },
    drawRect(e) {
      this.canvas = document.querySelector('canvas');
      const rOffset = this.canvas.getBoundingClientRect();
      if (this.selectionMode) {
        this.rect.w = (e.clientX - rOffset.left) - this.rect.startX;
        this.rect.h = (e.clientY - rOffset.top) - this.rect.startY;
        this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
        this.ctx.drawImage(this.img1, 0, 0,
          this.img_w * 0.5625,
          this.img_h * 0.5625);
        this.ctx.beginPath();
        this.ctx.rect(this.rect.startX, this.rect.startY, this.rect.w, this.rect.h);
        this.ctx.strokeStyle = 'red';

        this.ctx.closePath();
        if (Math.abs(this.rect.h * this.rect.w) > 40) {
          this.ctx.stroke();
        }
        this.drawOldRects();
      }
    },
    drawOldRects() {
      for (let i = 0; i < this.startPosition.x.length; i += 1) {
        this.ctx.beginPath();
        this.ctx.rect(this.startPosition.x[i], this.startPosition.y[i],
          this.startPosition.w[i], this.startPosition.h[i]);
        this.ctx.strokeStyle = 'red';
        this.ctx.closePath();
        this.ctx.stroke();
      }
    },
    stopSelect() {
      localStorage.setItem('reloaded', 'false');
      if (this.rect.w < 0 && this.rect.h > 0) {
        this.rect.startX += this.rect.w;
        this.rect.w = Math.abs(this.rect.w);
      } else if (this.rect.h < 0 && this.rect.w > 0) {
        this.rect.startY += this.rect.h;
        this.rect.h = Math.abs(this.rect.h);
      } else if (this.rect.w < 0 && this.rect.h < 0) {
        this.rect.startX += this.rect.w;
        this.rect.startY += this.rect.h;
        this.rect.h = Math.abs(this.rect.h);
        this.rect.w = Math.abs(this.rect.w);
      }
      if ((Math.abs(this.rect.w * this.rect.h > 40)) && (this.selectionMode)) {
        this.startPosition.id.push(this.startPosition.x.length);
        this.startPosition.x.push(this.rect.startX);
        this.startPosition.y.push(this.rect.startY);
        this.startPosition.w.push(this.rect.w);
        this.startPosition.h.push(this.rect.h);
        this.startPosition.zoom.push('');
        this.startPosition.selected.push(false);
      }
      this.selectionMode = false;
      this.doRects = false;
    },
    selectZone(i) {
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.startPosition.selected[j] = false;
      }
      this.startPosition.selected[i] = true;
      this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
      this.ctx.drawImage(this.img1, 0, 0,
        this.img_w * 0.5625,
        this.img_h * 0.5625);
      this.drawOldRects();
    },
    selectZoneMouse(e) {
      const rOffset = this.canvas.getBoundingClientRect();
      const posX = e.clientX - rOffset.left;
      const posY = e.clientY - rOffset.top;
      console.log(this.startPosition);
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        if (posX >= this.startPosition.x[j] && posY >= this.startPosition.y[j]
        && posX <= this.startPosition.x[j] + this.startPosition.w[j]
        && posY <= this.startPosition.y[j] + this.startPosition.h[j]) {
          this.$root.$emit('bv::toggle::collapse', `accordion-${j}`);
        }
      }
    },
    insertImg() {
      const reloaded = localStorage.getItem('reloaded');
      this.img1 = new window.Image();
      if (this.noCam === 'False') {
        this.img1.src = require(`../../../server/store/${this.$route.params.project}/imgs/global_dis.png`);
      } else {
        this.img1.src = myImg;
      }
      console.log(this.img1.src);
      this.img1.onload = () => {
        if (reloaded !== 'true') {
          localStorage.setItem('reloaded', 'false');
          window.location.reload();
        }
        this.$refs.select.height = this.img1.height * 0.5625;
        this.$refs.select.width = this.img1.width * 0.5625;
        this.ctx = this.$refs.select.getContext('2d');
        this.canvas = document.querySelector('canvas');
        this.img_w = this.img1.width;
        this.img_h = this.img1.height;
        this.ctx.drawImage(this.img1, 0, 0,
          this.img1.width * 0.5625,
          this.img1.height * 0.5625);
      };
    },
  },
  mounted() {
    localStorage.setItem('reloaded', 'true');
    this.$refs.select.height = this.widthCanvas * 0.5625;
    console.log(this.z);
    this.$refs.select.width = this.widthCanvas;
    this.ctx = this.$refs.select.getContext('2d');
    this.canvas = document.querySelector('canvas');
    this.insertImg();
  },
};
</script>
