<template>
    <div>
        <b-navbar type="dark" variant="dark">
        <b-navbar-nav>
        <b-navbar-brand class="mx-3" href="#">PMF Vision</b-navbar-brand>
        <!-- Navbar dropdowns -->
            <div class="lang-dropdown">
                <select v-model="$i18n.locale">
                    <option
                    v-for="(lang, i) in languageArray"
                    :key="`lang${i}`"
                    :value="lang"
                    >
                    {{ lang }}
                    </option>
                </select>
            </div>
      </b-navbar-nav>
        </b-navbar>
        <b-row>
          <b-col>
            <canvas v-bind:class="{ do_rects: doRects }" id='canvas' ref='select' v-on="doRects ?
        { mousedown: startSelect, mousemove: drawRect, mouseup: stopSelect } :
        {mousedown: selectZoneMouse}">
            </canvas>
          </b-col>
          <b-col>
              <img class="stream"
                     v-if="noCam === 'False'"
                  src="http://127.0.0.1:5000/video_feed2?zoom=60"
                width="400px">
            <img v-if="noCam === 'True'" class="ctrlPicts"
              src="http://127.0.0.1:5000/video_feed"
                width="730px"></b-col><b-col v-if="$route.params.type === 'pos'">
          </b-col>
          <b-col>
            <b-form-select @change="doZoom()" v-model="z"
                      :options="zoom_options">
            </b-form-select>
          </b-col>
      </b-row>
      <b-row>
        <b-col v-for='(item, index) in startPosition.x' v-bind:key="item.id">
          <b-button v-on:click="selectZone(index)"
                    v-b-toggle="'collapse-'+index" class="m-1">Toggle Collapse</b-button>
          <b-collapse :id="'collapse-'+index">
            <b-card>
              <b-card-body>
                <b-row>
                  <b-col>
                    <!-- <img
                      :src='"../../../server/store/" + $route.params.project +
                      "/imgs/zone_" + index + "_dis.png"'> -->
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <b-button v-on:click="takePict(index)">
                      Take picture
                    </b-button>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <img class="ctrl_pict" style="width: 80px;"
               :src=returnUrlCtrlImg(index)>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-collapse>
        </b-col>
      </b-row>
      <b-button class="float-right" ref="back-save"
                v-on:click="saveZones();"
                :to="{ name: 'Final view', params:
                { project: $route.params.project}}">
                  {{ $t('Azc')}}
      </b-button>
    </div>
</template>

<script>
import axios from 'axios';
import config from '../../dist/config.json';
import myImg from '../../../server/screen.jpg';

export default {
  name: 'Zones final control',

  data() {
    return {
      z: 60,
      folder: this.$route.params.project,
      zoom_g: this.$route.params.zoom,
      zoom_options: [
        { value: 60, text: 'Standard' },
        { value: 75, text: 'Léger' },
        { value: 90, text: 'Grand' },
      ],
      zoneMode: null,
      doRects: false,
      noCam: config.noZoomCam,
      startPosition: {
        id: [],
        x: [],
        y: [],
        w: [],
        h: [],
        zoom: [],
        selected: [],
      },
      rect: {
        startX: null,
        startY: null,
        x: null,
        y: null,
        ww: null,
        hh: null,
        w: null,
        h: null,
      },
      ctx: null,
      widthCanvas: process.env.VUE_APP_WIDTH,
      languageArray: ['en', 'fr'],
    };
  },
  methods: {
    returnUrlCtrlImg(i) {
      console.log(`../../../server/store/${this.folder}/imgs/zone_${i}_dis.png`);
      // eslint-disable-next-line
      try {
        // eslint-disable-next-line
        return require(`../../../server/store/${this.folder}/imgs/zone_${i}_dis.png`);
      } catch (e) {
       return 'null';
      }
    },
    doZoom() {
      const path = 'http://127.0.0.1:5000/video_zoom';
      axios.post(path, {
        zoom: this.z,
      })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    takePict(i) {
      const reloaded = localStorage.getItem('reloaded');
      const path = 'http://127.0.0.1:5000/save_display_image';
      if (this.noCam === 'False') {
        this.startPosition.zoom[i] = this.z;
        axios.post(path, {
          folder: this.$route.params.project,
          file: `zone_${i}`,
        }).then((res) => {
          this.saveZones();
          setTimeout(location.reload.bind(location), 2000);
        })
          .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          });
      }
    },
    convertCoordForJson() {
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.startPosition.y[j] *= (this.img1.height / (this.widthCanvas * 0.5625) * 2);
        this.startPosition.x[j] *= (this.img1.width / this.widthCanvas * 0.5625) * 2;
        this.startPosition.w[j] = this.startPosition.x[j]
          + this.startPosition.w[j] * (this.img1.width / this.widthCanvas * 0.5625) * 2;
        this.startPosition.h[j] = this.startPosition.y[j]
          + this.startPosition.h[j] * (this.img1.height / (this.widthCanvas * 0.5625) * 2);
      }
    },
    convertCoordForCanvas() {
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.startPosition.y[j] /= 2;
        this.startPosition.x[j] /= 2;
        this.startPosition.w[j] /= 2;
        this.startPosition.h[j] /= 2;
        this.startPosition.y[j] /= (this.img1.height / (this.widthCanvas * 0.5625));
        this.startPosition.x[j] /= (this.img1.width / this.widthCanvas * 0.5625);
        this.startPosition.w[j] = (this.startPosition.w[j]
          / (this.img1.width / this.widthCanvas * 0.5625) - this.startPosition.x[j]);
        this.startPosition.h[j] = (this.startPosition.h[j]
          / (this.img1.height / (this.widthCanvas * 0.5625)) - this.startPosition.y[j]);
      }
    },
    saveZones() {
      const path1 = 'http://127.0.0.1:5000/save_zone_global';
      this.convertCoordForJson();
      console.log(this.startPosition);
      axios.post(path1, { zones: this.startPosition, zoom: this.zoom_g, folder: this.$route.params.project })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    drawOldRects() {
      for (let i = 0; i < this.startPosition.x.length; i += 1) {
        if (this.startPosition.selected[i] === true) {
          this.ctx.globalAlpha = 1;
        } else {
          this.ctx.globalAlpha = 0.4;
        }
        this.ctx.beginPath();
        this.ctx.rect(this.startPosition.x[i], this.startPosition.y[i],
          this.startPosition.w[i], this.startPosition.h[i]);
        this.ctx.strokeStyle = 'red';
        this.ctx.closePath();
        this.ctx.stroke();
      }
    },
    readZones() {
      const path = 'http://127.0.0.1:5000/readzones';
      let d;
      this.startPosition.name = [];
      this.startPosition.x = [];
      this.startPosition.y = [];
      this.startPosition.w = [];
      this.startPosition.h = [];
      this.startPosition.type = [];
      axios.get(path, { params: { folder: this.$route.params.project, mode: 'global' } })
        .then((res) => {
          d = res.data;
          console.log(d);
          /* eslint-disable */
          for (const [key,v] of Object.entries(d)) {
              this.startPosition.id.push(v.id);
              this.startPosition.x.push(v.position.x1);
              this.startPosition.y.push(v.position.y1);
              this.startPosition.w.push(v.position.x2);
              this.startPosition.h.push(v.position.y2);
              this.startPosition.zoom.push(v.zoom);
            }
          this.convertCoordForCanvas();
          /* eslint-enable */
          console.log(this.startPosition);
          this.drawOldRects();
        })
        .catch((error) => {
          console.error(error);
        });
    },
    selectZone(i) {
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.startPosition.selected[j] = false;
      }
      this.startPosition.selected[i] = true;
      this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
      this.ctx.drawImage(this.img1, 0, 0,
        this.img_w * 0.5625 / 2,
        this.img_h * 0.5625 / 2);
      this.drawOldRects();
    },
    selectZoneMouse(e) {
      const rOffset = this.canvas.getBoundingClientRect();
      const posX = e.clientX - rOffset.left;
      const posY = e.clientY - rOffset.top;
      console.log(this.startPosition);
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        if (posX >= this.startPosition.x[j] && posY >= this.startPosition.y[j]
        && posX <= this.startPosition.x[j] + this.startPosition.w[j]
        && posY <= this.startPosition.y[j] + this.startPosition.h[j]) {
          this.$root.$emit('bv::toggle::collapse', `collapse-${j}`);
        }
      }
      this.drawOldRects();
    },
    insertImg() {
      const reloaded = localStorage.getItem('reloaded');
      this.img1 = new window.Image();
      if (this.noCam === 'False') {
        this.img1.src = require(`../../../server/store/${this.$route.params.project}/imgs/global_dis.png`);
      } else {
        this.img1.src = myImg;
      }
      console.log(this.img1.src);
      this.img1.onload = () => {
        if (reloaded !== 'true') {
          setTimeout(location.reload.bind(location), 500);
          localStorage.setItem('reloaded', 'true');
        }
        this.$refs.select.height = this.img1.height * 0.5625 / 2;
        this.$refs.select.width = this.img1.width * 0.5625 / 2;
        this.ctx = this.$refs.select.getContext('2d');
        this.canvas = document.querySelector('canvas');
        this.img_w = this.img1.width;
        this.img_h = this.img1.height;
        this.ctx.drawImage(this.img1, 0, 0,
          this.img1.width * 0.5625 / 2,
          this.img1.height * 0.5625 / 2);
        this.readZones();
      };
    },
  },
  mounted() {
    this.$refs.select.height = this.widthCanvas * 0.5625;
    this.$refs.select.width = this.widthCanvas;
    this.ctx = this.$refs.select.getContext('2d');
    this.canvas = document.querySelector('canvas');
    this.insertImg();
  },
};
</script>
<style>
img.ctrlPicts {
  border: 5px solid #ffd100;
}
</style>
