<template>
<div class="main_menu">
  <b-navbar type="dark" variant="dark">
      <b-navbar-nav>
      <b-navbar-brand class="mx-3" href="#">PMF Vision</b-navbar-brand>
      <!-- Navbar dropdowns -->
      </b-navbar-nav>
      <div class="lang-dropdown ml-auto">
      <select v-model="$i18n.locale">
        <option
          v-for="(lang, i) in languageArray"
          :key="`lang${i}`"
          :value="lang"
          >
          {{ lang }}
        </option>
      </select>
    </div>
  </b-navbar>
    <b-container id="menu">
      <b-row class="mb-5">
        <b-col>
          <img src="../assets/pmf_logo.png">
        </b-col>
      </b-row>
      <b-row>
          <router-link class="main_menu_option"
                       :to="{ name: 'Stream', params:
                       { type: 'normal', project: 'None', step: 'None',
                       pos: 'None', name: 'None', id: 'None', zone: 'None' }}">
            {{ $t('nScen')}}</router-link>
      </b-row>
      <b-row>
          <p class="main_menu_option"
             v-b-modal.modal-load_project v-on:click="getNames">{{ $t('lScen')}}</p>
          <b-modal id="modal-load_project">
            <b-row button v-for='(item, index) in names' v-bind:key="index">
              <router-link class="float-left projects" :to="{ name: 'View_Img', params:
              { load: item, mode: 'normal' }}">{{item}}</router-link>
                <b-dropdown class="float-right" id="dropdown-1" no-caret>
                     <template #button-content>
                            Edit
<!--                      /* eslint-disable */-->
                      <svg version="1.1" id="Layer_1" class="rollIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
<g>
	<g>
		<path d="M504.642,207.409l-44.915-4.491c-4.869-18.741-12.3-36.659-22.153-53.415l28.603-34.96
			c2.657-3.247,2.423-7.983-0.546-10.951L408.409,46.37c-2.969-2.969-7.703-3.203-10.951-0.546l-34.96,28.603
			c-16.755-9.853-34.673-17.284-53.415-22.153l-4.491-44.915C304.174,3.181,300.659,0,296.462,0h-80.923
			c-4.198,0-7.712,3.181-8.13,7.358l-4.491,44.915c-18.741,4.869-36.659,12.3-53.415,22.153l-34.96-28.603
			c-3.248-2.657-7.983-2.421-10.951,0.546l-57.223,57.223c-2.969,2.969-3.203,7.703-0.546,10.951l28.603,34.96
			c-9.853,16.755-17.284,34.673-22.153,53.415l-44.915,4.491C3.181,207.826,0,211.34,0,215.538v80.923
			c0,4.198,3.181,7.712,7.358,8.13l44.915,4.491c4.869,18.741,12.3,36.659,22.153,53.415l-28.603,34.96
			c-2.657,3.247-2.423,7.983,0.546,10.951l57.222,57.222c2.969,2.969,7.704,3.203,10.951,0.546l34.96-28.603
			c16.755,9.853,34.673,17.284,53.415,22.153l4.491,44.915c0.418,4.177,3.932,7.358,8.13,7.358h80.923
			c4.198,0,7.712-3.181,8.13-7.358l4.491-44.915c18.741-4.869,36.659-12.3,53.415-22.153l34.96,28.603
			c3.25,2.657,7.983,2.421,10.951-0.546l57.222-57.222c2.969-2.969,3.203-7.703,0.546-10.951l-28.603-34.96
			c9.853-16.755,17.284-34.673,22.153-53.415l44.915-4.491c4.177-0.418,7.358-3.932,7.358-8.13v-80.923
			C512,211.34,508.819,207.826,504.642,207.409z M495.66,289.068l-43.308,4.331c-3.487,0.349-6.364,2.882-7.149,6.299
			c-4.817,20.948-13.072,40.855-24.536,59.166c-1.859,2.971-1.617,6.795,0.602,9.509l27.579,33.708l-46.766,46.766l-33.708-27.579
			c-2.711-2.22-6.538-2.46-9.509-0.602c-18.312,11.463-38.218,19.72-59.167,24.536c-3.416,0.786-5.95,3.662-6.299,7.149
			l-4.332,43.309h-66.136l-4.331-43.308c-0.349-3.487-2.882-6.364-6.299-7.149c-20.948-4.817-40.855-13.072-59.167-24.536
			c-2.97-1.861-6.797-1.618-9.509,0.602l-33.708,27.579l-46.766-46.766l27.579-33.708c2.219-2.713,2.462-6.538,0.602-9.509
			c-11.463-18.312-19.72-38.218-24.536-59.167c-0.786-3.416-3.662-5.95-7.149-6.299l-43.308-4.332v-66.136l43.308-4.331
			c3.487-0.349,6.364-2.882,7.149-6.299c4.817-20.948,13.072-40.855,24.536-59.167c1.86-2.971,1.617-6.795-0.602-9.509
			l-27.579-33.708l46.766-46.766l33.708,27.579c2.711,2.22,6.539,2.46,9.509,0.602c18.312-11.463,38.218-19.72,59.167-24.536
			c3.416-0.786,5.95-3.662,6.299-7.149l4.332-43.308h66.136l4.331,43.308c0.349,3.487,2.882,6.364,6.299,7.149
			c20.948,4.817,40.855,13.072,59.166,24.536c2.971,1.86,6.797,1.618,9.509-0.602l33.708-27.579l46.766,46.766l-27.579,33.708
			c-2.219,2.713-2.462,6.538-0.602,9.509c11.463,18.312,19.72,38.218,24.536,59.167c0.786,3.416,3.662,5.95,7.149,6.299
			l43.307,4.332V289.068z"/>
	</g>
</g>
<g>
	<g>
		<path d="M256.002,171.574c-46.552,0-84.426,37.874-84.426,84.426s37.874,84.426,84.426,84.426
			c46.552,0,84.426-37.874,84.426-84.426S302.554,171.574,256.002,171.574z M256.002,324.085c-37.543,0-68.085-30.542-68.085-68.085
			s30.542-68.085,68.085-68.085s68.085,30.542,68.085,68.085S293.545,324.085,256.002,324.085z"/>
	</g>
</g>
<g>
	<g>
		<path d="M256.002,77.889c-44.587,0-87.251,16.556-120.134,46.619c-32.668,29.866-52.966,70.484-57.154,114.372
			c-0.429,4.493,2.865,8.481,7.356,8.91c4.509,0.436,8.481-2.865,8.91-7.356c7.955-83.35,77.179-146.204,161.022-146.204
			c89.2,0,161.77,72.57,161.77,161.77s-72.57,161.77-161.77,161.77c-83.845,0-153.069-62.855-161.022-146.208
			c-0.428-4.492-4.432-7.797-8.909-7.358c-4.493,0.429-7.786,4.417-7.358,8.909c4.188,43.89,24.484,84.509,57.152,114.376
			c32.885,30.064,75.549,46.62,120.136,46.62c98.21,0,178.111-79.9,178.111-178.111S354.213,77.889,256.002,77.889z"/>
	</g>
</g>
<g>
	<g>
		<path d="M338.809,173.192c-45.659-45.657-119.952-45.657-165.613,0c-17.82,17.821-29.223,40.383-32.976,65.246
			c-0.673,4.462,2.398,8.624,6.86,9.298c4.441,0.674,8.624-2.397,9.298-6.86c3.228-21.386,13.04-40.794,28.374-56.128
			c39.288-39.289,103.216-39.288,142.504,0c39.288,39.288,39.288,103.216,0,142.504c-39.289,39.288-103.217,39.287-142.504,0
			c-15.335-15.334-25.147-34.745-28.375-56.133c-0.673-4.463-4.85-7.533-9.298-6.86c-4.462,0.673-7.533,4.836-6.86,9.298
			c3.752,24.866,15.156,47.429,32.976,65.25c22.831,22.829,52.819,34.244,82.808,34.244c29.989,0,59.977-11.415,82.808-34.244
			C384.468,293.147,384.468,218.853,338.809,173.192z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
                      </svg>
<!--                       /* eslint-enable */-->
                     </template>
                  <b-dropdown-item  v-on:click="duplicate(item);getNames();">
                    Duplicate</b-dropdown-item>
                  <b-dropdown-item  v-on:click="showModalRename();n_name=item;o_name=item">
                    Rename</b-dropdown-item>
                </b-dropdown>
            </b-row>
            </b-modal>

      </b-row>
    </b-container>
    <b-modal id="modal-rename"
       @ok="rename();getNames();" title="Rename your project">
      <b-form-input v-model="n_name">
      </b-form-input>
    </b-modal>
</div>
</template>
<script>
import axios from 'axios';

export default {
  name: 'index',
  data() {
    return {
      languageArray: ['en', 'fr'],
      names: [],
      o_name: '',
      n_name: '',
    };
  },
  methods: {
    duplicate(project) {
      const path = 'http://127.0.0.1:5000/duplproject';
      axios.post(path, { proj: project })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
      this.getNames();
      this.$root.$emit('bv::show::modal', 'main_menu_option');
    },
    rename() {
      const path = 'http://127.0.0.1:5000/renproject';
      axios.post(path, { o_name: this.o_name, n_name: this.n_name })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
      this.getNames();
      this.$root.$emit('bv::show::modal', 'main_menu_option');
    },
    showModalRename() {
      this.$root.$emit('bv::show::modal', 'modal-rename');
    },
    getNames() {
      const path = 'http://127.0.0.1:5000/get_project_names';
      let d;
      axios.get(path)
        .then((res) => {
          d = res.data;
          /* eslint-disable */
          this.names = []
          for (const [key,value] of Object.entries(d)) {
            this.names.push(value)
          }
          console.log(this.names)
        /* eslint-enable */
        })
        .catch((error) => {
          console.error(error);
        });
    },
  },
};
</script>
<style>
.main_menu {
  background-color: black;
  height: 100vh;
  max-width: 100vw;
  margin: 0;
  align-items: center;
}

.main_menu_option {
  color: bisque;
  font-size: 1.8rem;
  margin: auto !important;
}

.projects {
  padding: .2em;
  width: 50%;
  font-size: 2rem;
}

#menu {
  margin-top: 35vh;
}

.main_menu_option:hover {
  color: azure !important;
  text-decoration: none !important;
}

svg.rollIcon {
  margin-left: 5px;
  width: 20px;
}
</style>
