<template>
<div>
  <b-navbar type="dark" variant="dark">
      <b-navbar-nav>
      <b-navbar-brand class="mx-3" href="#">PMF Vision</b-navbar-brand>
      <!-- Navbar dropdowns -->
      <div class="lang-dropdown">
      <select v-model="$i18n.locale">
        <option
          v-for="(lang, i) in languageArray"
          :key="`lang${i}`"
          :value="lang"
          >
          {{ lang }}
        </option>
      </select>
    </div>
      </b-navbar-nav>
  </b-navbar>
  <b-container>
    <b-row>
      <b-col>
        <canvas v-bind:class="{ do_rects: doRects }" id='canvas' ref='select' v-on="doRects ?
        { mousedown: startSelect, mousemove: drawRect, mouseup: stopSelect } :
        {mousedown: selectZoneMouse}">
        </canvas>
      </b-col>
      <b-col class="my-accordion" role="tablist">
      <b-row button v-for='(item, index) in startPosition.x' v-bind:key="item.id"
          v-on:click='selectZone(index)'>
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block v-b-toggle="'accordion-' + index" variant="info">
              Zone {{startPosition.id[index]}}</b-button>
          </b-card-header>
          <b-collapse :id="'accordion-' + index" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-row>
                <b-col>
                  <b-form-select v-model="startPosition.type[index]" v-on:change="selectZone(index)"
                                 :options="mode_options"></b-form-select>
                </b-col>
              </b-row>
              <b-button v-on:click="removeZone(index)">Remove zone</b-button>
            </b-card-body>
          </b-collapse>
        </b-card>
      </b-row>
        <b-button v-b-modal.modal-zones>
          {{ $t('Nz')}}</b-button>
        <b-modal v-model="doRects" id="modal-zones" :class="status($v.zoneMode)"
                 title="Using Component Methods" hide-header hide-footer>
          <b-row>
            <b-col>
              <b-form-select v-if="doRects" v-model="zoneMode"
                             :options="mode_options"></b-form-select>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-button variant="outline-danger" block @click="hideModal">
                Cancel</b-button>
            </b-col>
            <b-col>
              <b-button variant="outline-warning"
                        block v-on:click="hideModal(); doRects = true;">OK</b-button>
            </b-col>
          </b-row>
          <b-row>
            <div class="error" v-if="!$v.zoneMode.required">Field is required</div>
          </b-row>
        </b-modal>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
       <h3>Reference image</h3>
      <img v-if="noCam === 'False'"
        width="400px" :src='"../../../server/store/" + $route.params.project + "/imgs/" + $route.params.pos + "_dis.png"'>
      </b-col>
      <b-col>
        <b-button class="float-right" ref="back-save"
          v-on:click="saveZone();saveCrop();">
          {{ $t('Azc')}}</b-button>
      </b-col>
    </b-row>
  </b-container>
</div>
</template>

<script>
import axios from 'axios';
import { required } from 'vuelidate/lib/validators';
import config from '../../dist/config.json';
import myImg from '../../../server/pos.jpg';

export default {
  name: 'pos_img',

  data() {
    return {
      noCam: config.noZoomCam,
      zoneMode: null,
      languageArray: ['en', 'fr'],
      submitStatus: null,
      zoneName: null,
      doRects: false,
      startPosition: {
        id: [],
        x: [],
        y: [],
        w: [],
        h: [],
        type: [],
        selected: [],
      },
      mode_options: [
        { value: 'position', text: 'Position' },
        { value: 'couleur', text: 'Couleur' },
        { value: 'ocr', text: 'OCR' },
      ],
      cropped: false,
      ctx: null,
      widthCanvas: process.env.VUE_APP_WIDTH,
      img1: new Image(),
      img_w: null,
      img_h: null,
      rect: {
        startX: null,
        startY: null,
        x: null,
        y: null,
        ww: null,
        hh: null,
        w: null,
        h: null,
      },
      crop: {
        x1: [],
        x2: [],
        y1: [],
        y2: [],
        type: [],
      },
      selectionMode: false,
    };
  },
  validations: {
    zoneMode: {
      required,
    },
  },
  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty,
      };
    },
    saveZone() {
      const path1 = 'http://127.0.0.1:5000/save_zone_control';
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.crop.y1.push(this.startPosition.y[j] / 0.5625 / 2);
        this.crop.x1.push(this.startPosition.x[j] / 0.5625 / 2);
        this.crop.x2.push(this.startPosition.w[j] / 0.5625 / 2);
        this.crop.y2.push(this.startPosition.h[j] / 0.5625 / 2);
        this.crop.type.push(this.startPosition.type[j]);
      }
      console.log(this.crop);
      axios.post(path1,
        {
          zone: this.crop,
          folder: this.$route.params.project,
          step: this.$route.params.step,
          file: this.$route.params.pos,
          name: this.$route.params.name,
          id: this.$route.params.id,
          z: this.$route.params.zone,
          zoom: this.$route.params.zoom
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    hideModal() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR';
      } else {
        this.$bvModal.hide('modal-zones');
      }
    },
    removeZone(i) {
      this.startPosition.id.splice(i, 1);
      this.startPosition.x.splice(i, 1);
      this.startPosition.y.splice(i, 1);
      this.startPosition.w.splice(i, 1);
      this.startPosition.h.splice(i, 1);
      this.startPosition.type.splice(i, 1);
      this.startPosition.selected.splice(i, 1);
      this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
      this.ctx.drawImage(this.img1, 0, 0,
        this.img_w * 0.5625,
        this.img_h * 0.5625);
      this.drawOldRects();
    },
    selectZone(i) {
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.startPosition.selected[j] = false;
      }
      this.startPosition.selected[i] = true;
      this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
      this.ctx.drawImage(this.img1, 0, 0,
        this.img_w * 0.5625,
        this.img_h * 0.5625);
      this.drawOldRects();
    },
    selectZoneMouse(e) {
      const rOffset = this.canvas.getBoundingClientRect();
      const posX = e.clientX - rOffset.left;
      const posY = e.clientY - rOffset.top;
      console.log(this.startPosition);
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        if (posX >= this.startPosition.x[j] && posY >= this.startPosition.y[j]
        && posX <= this.startPosition.x[j] + this.startPosition.w[j]
        && posY <= this.startPosition.y[j] + this.startPosition.h[j]) {
          this.$root.$emit('bv::toggle::collapse', `accordion-${j}`);
        }
      }
    },
    startSelect(e) {
      const rOffset = this.canvas.getBoundingClientRect();
      this.rect.startX = e.clientX - rOffset.left;
      this.rect.startY = e.clientY - rOffset.top;
      this.selectionMode = true;
      this.rect.x = e.offsetX;
      this.rect.y = e.offsetY;
    },
    drawRect(e) {
      this.canvas = document.querySelector('canvas');
      const rOffset = this.canvas.getBoundingClientRect();
      if (this.selectionMode) {
        this.rect.w = (e.clientX - rOffset.left) - this.rect.startX;
        this.rect.h = (e.clientY - rOffset.top) - this.rect.startY;
        this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
        this.ctx.drawImage(this.img1, 0, 0,
          this.img_w * 0.5625,
          this.img_h * 0.5625);
        this.ctx.beginPath();
        this.ctx.rect(this.rect.startX, this.rect.startY, this.rect.w, this.rect.h);
        if (this.zoneMode === null) {
          this.ctx.strokeStyle = 'black';
        } else if (this.zoneMode === 'assembly') {
          this.ctx.strokeStyle = 'red';
        } else if (this.zoneMode === 'collect') {
          this.ctx.strokeStyle = 'yellow';
        } else if (this.zoneMode === 'display') {
          this.ctx.strokeStyle = 'green';
        }
        this.ctx.closePath();
        if (Math.abs(this.rect.h * this.rect.w) > 40) {
          this.ctx.stroke();
        }
        this.drawOldRects();
      }
    },
    drawOldRects() {
      for (let i = 0; i < this.startPosition.x.length; i += 1) {
        this.ctx.beginPath();
        this.ctx.rect(this.startPosition.x[i], this.startPosition.y[i],
          this.startPosition.w[i], this.startPosition.h[i]);
        if (this.startPosition.type[i] === null) {
          this.ctx.strokeStyle = 'black';
        } else if (this.startPosition.type[i] === 'assembly') {
          this.ctx.strokeStyle = 'red';
        } else if (this.startPosition.type[i] === 'collect') {
          this.ctx.strokeStyle = 'yellow';
        } else if (this.startPosition.type[i] === 'display') {
          this.ctx.strokeStyle = 'green';
        }
        this.ctx.closePath();
        this.ctx.stroke();
      }
    },
    stopSelect() {
      if (this.rect.w < 0 && this.rect.h > 0) {
        this.rect.startX += this.rect.w;
        this.rect.w = Math.abs(this.rect.w);
      } else if (this.rect.h < 0 && this.rect.w > 0) {
        this.rect.startY += this.rect.h;
        this.rect.h = Math.abs(this.rect.h);
      } else if (this.rect.w < 0 && this.rect.h < 0) {
        this.rect.startX += this.rect.w;
        this.rect.startY += this.rect.h;
        this.rect.h = Math.abs(this.rect.h);
        this.rect.w = Math.abs(this.rect.w);
      }
      if ((Math.abs(this.rect.w * this.rect.h > 40)) && (this.selectionMode)) {
        this.startPosition.id.push(this.startPosition.x.length);
        this.startPosition.x.push(this.rect.startX);
        this.startPosition.y.push(this.rect.startY);
        this.startPosition.w.push(this.rect.w);
        this.startPosition.h.push(this.rect.h);
        this.startPosition.type.push(this.zoneMode);
        this.startPosition.selected.push(false);
      }
      this.selectionMode = false;
      this.doRects = false;
    },
    saveCrop() {
      this.$reload = true;
      // eslint-disable-next-line
      const path = 'http://127.0.0.1:5000/save_crop';
      const dataURL = this.canvas.toDataURL();
      console.log(dataURL);
      axios.post(path, {
        folder: this.$route.params.project,
        file: this.$route.params.pos,
        imgg: dataURL,
      })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
      this.$router.push(`/scenario/${this.$route.params.project}`);
    },
    insertImg() {
      const reloaded = localStorage.getItem('reloaded');
      this.img1 = new window.Image();
      this.img1.src = myImg;
      this.img1.onload = () => {
        if (reloaded !== 'true') {
          localStorage.setItem('reloaded', 'false');
          window.location.reload();
        }
        this.$refs.select.height = this.img1.height * 0.5625 * 2;
        this.$refs.select.width = this.img1.width * 0.5625 * 2;
        this.ctx = this.$refs.select.getContext('2d');
        this.canvas = document.querySelector('canvas');
        this.img_w = this.img1.width * 2;
        this.img_h = this.img1.height * 2;
        this.ctx.drawImage(this.img1, 0, 0,
          this.img1.width * 0.5625 * 2,
          this.img1.height * 0.5625 * 2);
      };
    },
  },
  beforeCreate() {
    this.img1.src = myImg;
  },
  mounted() {
    localStorage.setItem('reloaded', 'true');
    this.$refs.select.height = this.widthCanvas * 0.5625;
    this.$refs.select.width = 1000;
    this.ctx = this.$refs.select.getContext('2d');
    this.canvas = document.querySelector('canvas');
    this.insertImg();
  },
};
</script>
