<template>
<div>
  <b-navbar type="dark" variant="dark">
      <b-navbar-nav>
      <b-navbar-brand class="mx-3" href="#">PMF Vision</b-navbar-brand>
      <!-- Navbar dropdowns -->
      <div class="lang-dropdown">
      <select v-model="$i18n.locale">
        <option
          v-for="(lang, i) in languageArray"
          :key="`lang${i}`"
          :value="lang"
          >
          {{ lang }}
        </option>
      </select>
    </div>
      </b-navbar-nav>
    </b-navbar>

<b-container>
  <b-row>
    <b-col><img class="stream" v-if="$route.params.type === 'normal' || $route.params.type === 'retake'" src="http://127.0.0.1:5000/video_feed"
                width="800px">
                <img class="stream"
                     v-if="($route.params.type === 'pos' || $route.params.type === 'global')
                     && (noCam === 'False')"
                  src="http://127.0.0.1:5000/video_feed2?zoom=40"
                width="400px"></b-col><b-col v-if="$route.params.type === 'pos'">
    <img class="stream" v-if="$route.params.type === 'pos'" src="http://127.0.0.1:5000/video_feed?crop=True" width="400px"></b-col>
  </b-row>
  <b-row class="btn_nav">
    <b-col v-if="($route.params.type === 'pos') && (noCam === 'False')">
    <b-form-select   v-model="z" @change="doZoom()"
                      :options="zoom_options"></b-form-select>
      </b-col>
        <b-col><b-button class="btn" to="/">
      {{ $t('bH')}}</b-button></b-col>
    <b-col><b-button v-on:click="takeimage('')" class="btn" v-if="$route.params.type === 'normal'"
                        :to="{ name: 'View_Img', params: { load: 'None'}}">
      {{ $t('tPict')}}</b-button>
    <b-button v-on:click="takeimage('')" class="btn" v-if="$route.params.type === 'retake'"
                        :to="{ name: 'View_Img',
                        params: { load: $route.params.project, mode:'retake'}}">
    {{ $t('tPict')}}</b-button></b-col>
    <b-button v-on:click="takeimage('2')" class="btn" v-if="$route.params.type === 'pos'"
                        :to="{ name: 'Position image', params:
                        { project: $route.params.project,
                        pos: $route.params.pos,
                        step: $route.params.step,
                        name: $route.params.name,
                        id: $route.params.id,
                        zone: $route.params.zone,
                        zoom: z}}">
      {{ $t('tPict')}}</b-button>
    <b-button v-on:click="takeimage('')" class="btn" v-if="$route.params.type === 'global'"
                        :to="{ name: 'Global view', params:
                        { project: $route.params.project,
                        zoom: z}}">
      {{ $t('tPict')}}</b-button>
  </b-row>
</b-container>
</div>
</template>

<script>
import axios from 'axios';
import config from '../../dist/config.json';

export default {
  name: 'stream',
  data() {
    return {
      noCam: config.noZoomCam,
      type: '',
      msg: '',
      z: 40,
      zoom_options: [
        { value: 40, text: 'Standard' },
        { value: 50, text: 'Léger' },
        { value: 70, text: 'Grand' },
      ],
      languageArray: ['en', 'fr'],
    };
  },
  methods: {
    takeimage(id) {
      const path = `http://127.0.0.1:5000/takeimage${id}`;
      const path1 = 'http://127.0.0.1:5000/save_display_image';
      if (this.type !== 'global') {
        axios.get(path)
          .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          }); }
      if (this.noCam === 'False' && this.type === 'pos') {
        console.log(this.$route.params.project);
        axios.post(path1, {
          folder: this.$route.params.project,
          file: this.$route.params.pos,
        })
          .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          });
      }
      if (this.noCam === 'False' && this.type === 'global') {
        console.log(this.$route.params.project);
        axios.post(path1, {
          folder: this.$route.params.project,
          file: this.type,
        })
          .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          });
      }
      this.$forceUpdate();
    },
    doZoom() {
      const path = 'http://127.0.0.1:5000/video_zoom';
      axios.post(path, {
        zoom: this.z,
      })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },
  mounted() {
    this.z = 40;
    this.doZoom();
    localStorage.setItem('reloaded', 'false');
    this.type = this.$route.params.type;
  },
};
</script>
<style>
img.stream {
  margin-top: 17vh;
  border: 5px solid #ffd100;
}
</style>
