<template>
  <div>
    <b-navbar>
      <b-navbar-nav>
      <b-navbar-brand class="mx-3" href="#">PMF Vision</b-navbar-brand>
      <!-- Navbar dropdowns -->
      <b-nav-item-dropdown :text="$t('file')" right>
        <b-dropdown-item  v-on:click="showModalSave" >Save</b-dropdown-item>
        <b-modal id="modal-save" @cancel="nameProject = ''"
                 @ok="saveZones();
                 saved = true;
                 scenario.name = nameProject" :title="$t('Ssz')">
        <b-form-input :placeholder="$t('Np')" v-model="nameProject">
        </b-form-input>
        </b-modal>
      </b-nav-item-dropdown>
      </b-navbar-nav>
      <div class="lang-dropdown ml-auto">
      <b-select  :text="$t('lan')" v-model="$i18n.locale">
        <b-select-option
          v-for="(lang, i) in languageArray"
          :key="`lang${i}`"
          :value="lang"
          >
          {{ lang }}
        </b-select-option>
      </b-select>
    </div>
    </b-navbar>
  <b-container class="content_ui">
    <b-row class="mb-1 mt-2 mx-auto">
      <b-col class="mx-auto">
      <h3 class="mx-auto">{{$t('DoScen')}}</h3>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <canvas v-bind:class="{ do_rects: doRects }" id='canvas' ref='select' v-on="doRects ?
        { mousedown: startSelect, mousemove: drawRect, mouseup: stopSelect } :
        {mousedown: selectZoneMouse}">
        </canvas>
      </b-col>
    </b-row>
    <b-row class="mx-auto btn_zones">
      <b-col class="mx-auto">
        <b-button v-b-modal.modal-zones>
          {{$t('Nz')}}</b-button>
      </b-col>
      <b-col class="mx-auto">
        <b-button v-on:click="saveZones(); $router.push({ name: 'Stream',
        params: { type: 'retake', project: nameProject }});">{{$t('Tap')}}</b-button>
      </b-col>
    </b-row>
    <hr>
    <b-row class="my-accordion mx-auto" role="tablist">
      <b-col cols="4" button v-for='(item, index) in startPosition.x' v-bind:key="item.id"
          v-on:click='selectZone(index)'>
        <b-card no-body class="nzones mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block v-b-toggle="'accordion-' + index" variant="info">
              Zone {{startPosition.id[index]}} : {{startPosition.name[index]}}</b-button>
          </b-card-header>
          <b-collapse :id="'accordion-' + index" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-row>
                <b-col>
                  <b-form-input v-model="startPosition.name[index]" v-on:change="selectZone(index)">
                  </b-form-input>
                </b-col>
                <b-col>
                  <b-form-select v-model="startPosition.type[index]" v-on:change="selectZone(index)"
                                 :options="mode_options"></b-form-select>
                </b-col>
                <b-col>
                  <b-form-select v-model="startPosition.z[index]" v-on:change="selectZone(index)"
                                 :options="level_options"></b-form-select>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  X:<b-form-input type="number" v-model="startPosition.x[index]">
                  </b-form-input></b-col>
                  <b-col>
                  Y:<b-form-input type="number" v-model="startPosition.y[index]">
                  </b-form-input>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  Largeur:<b-form-input type="number" v-model="startPosition.w[index]">
                  </b-form-input></b-col>
                <b-col>
                  Hauteur:<b-form-input type="number" v-model="startPosition.h[index]">
                  </b-form-input>
                </b-col>
              </b-row>
              <b-row>
              <b-col>
                <b-button v-on:click="remakeZone(index)">{{$t('Rz')}}</b-button>
              </b-col>
              <b-col>
                <b-button variant="danger" v-on:click="removeZone(index)">{{$t('Rzz')}}</b-button>
              </b-col>
              </b-row>
            </b-card-body>
          </b-collapse>
        </b-card>
      </b-col>
        <b-modal class="nzone"  v-model="doRects" id="modal-zones"
                 title="Using Component Methods" hide-header hide-footer>
          <b-row>
            <b-col>
              <b-form-input v-if="doRects" v-model="zoneName" :class="status($v.zoneName)"
                            :placeholder="$t('Zn')"></b-form-input>
              <b-row>
                <div class="error" v-if="!$v.zoneName.required">Field is required</div>
              </b-row>
            </b-col>
            <b-col>
              <b-form-select v-if="doRects" v-model="zoneMode" :class="status($v.zoneMode)"
                             :options="mode_options"></b-form-select>
              <b-row>
                <div class="error" v-if="!$v.zoneMode.required">Field is required</div>
              </b-row>
            </b-col>
            <b-col>
              <b-form-select v-if="doRects" v-model="level" :class="status($v.level)"
                             :options="level_options"></b-form-select>
              <b-row>
                <div class="error" v-if="!$v.level.required">Field is required</div>
              </b-row>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-button variant="outline-danger" block @click="hideModal(true)">
                Cancel</b-button>
            </b-col>
            <b-col>
              <b-button variant="outline-warning"
                        block v-on:click="hideModal(); doRects = true;">OK</b-button>
            </b-col>
          </b-row>
        </b-modal>
      </b-row>
      <b-row class="bot_bar mx-auto btn_nav">
          <b-col>
            <b-button class="float-center" ref="back-save"
              v-on:click="reinit = true; showModalSave();">{{ $t('bH')}}
            </b-button>
          </b-col>
          <b-col>
          <b-button class="float-center" ref="back-save"
              v-on:click="saveZones(); $router.push({ name: 'Create_Scenario',
              params: { load: nameProject, mode: 'normal' }});">
                {{$t('Es')}}
          </b-button>
          </b-col>
      </b-row>
  </b-container>
 </div>
</template>

<script>
import axios from 'axios';
import { required } from 'vuelidate/lib/validators';
import myImg from '../../../server/screen.jpg';

export default {
  name: 'view_img',
  data() {
    return {
      languageArray: ['en', 'fr'],
      pos_pic: null,
      zoneMode: null,
      zoneName: null,
      mode_options: [
        { value: null, text: this.$t('Ct') },
        { value: 'assembly', text: this.$t('ass') },
        { value: 'collect', text: this.$t('col') },
        { value: 'display', text: this.$t('dis') },
      ],
      level: null,
      level_options: [
        { value: null, text: this.$t('Cl') },
        { value: 0, text: this.$t('1l') },
        { value: 1, text: this.$t('2l') },
        { value: 2, text: this.$t('3l') },
      ],
      action_options: [
        { value: null, text: 'Choose an action' },
        { value: 'pick', text: 'pick' },
        { value: 'place', text: 'place' },
        { value: 'control', text: 'control' },
      ],
      ctx: null,
      widthCanvas: process.env.VUE_APP_WIDTH,
      select: false,
      nameProject: '',
      saved: false,
      reinit: false,
      doScenario: false,
      doRects: false,
      selectionMode: false,
      img1: new Image(),
      canvas: document.querySelector('canvas'),
      rect: {
        startX: null,
        startY: null,
        w: null,
        h: null,
      },
      startPosition: {
        id: [],
        name: [],
        x: [],
        y: [],
        z: [],
        w: [],
        h: [],
        type: [],
        selected: [],
      },
      name_steps: '',
      scenario: {
        name: '',
        steps: [{
          id: 0,
          name: '',
          operations: [],
        }],
      },
      crop: {
        y: null,
        x: null,
        w: null,
        h: null,
      },
    };
  },
  validations: {
    zoneMode: {
      required,
    },
    zoneName: {
      required,
    },
    level: {
      required,
    },
  },
  created() {
  },
  methods: {
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty,
      };
    },
    savePosZone(id, step) {
      this.crop.y = this.startPosition.y[id] * (this.img1.height / (this.widthCanvas * 0.5625));
      this.crop.x = this.startPosition.x[id] * (this.img1.width / this.widthCanvas);
      this.crop.w = this.startPosition.w[id] * (this.img1.width / this.widthCanvas);
      this.crop.h = this.startPosition.h[id] * (this.img1.height / (this.widthCanvas * 0.5625));
      console.log(this.startPosition.x[id]);
      const path1 = 'http://127.0.0.1:5000/save_pos_zone';
      axios.post(path1, {
        x: this.crop.x,
        y: this.crop.y,
        w: this.crop.w,
        h: this.crop.h,
        steps: step,
      })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    showModalSave() {
      if (this.saved === false) {
        this.$root.$emit('bv::show::modal', 'modal-save', '#back-save');
      } else {
        this.saveZones();
      }
    },
    hideModal(cancel = false) {
      this.$v.$touch();
      if (this.$v.$invalid && cancel === false) {
        this.submitStatus = 'ERROR';
      } else if (cancel === true) {
        this.$bvModal.hide('modal-zones');
      } else {
        this.$bvModal.hide('modal-zones');
      }
    },
    convertCoordForJson() {
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.startPosition.y[j] *= (this.img1.height / (this.widthCanvas * 0.5625));
        this.startPosition.x[j] *= (this.img1.width / this.widthCanvas);
        this.startPosition.w[j] = this.startPosition.x[j]
          + this.startPosition.w[j] * (this.img1.width / this.widthCanvas);
        this.startPosition.h[j] = this.startPosition.y[j]
          + this.startPosition.h[j] * (this.img1.height / (this.widthCanvas * 0.5625));
      }
    },
    convertCoordForCanvas() {
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.startPosition.y[j] /= (this.img1.height / (this.widthCanvas * 0.5625));
        this.startPosition.x[j] /= (this.img1.width / this.widthCanvas);
        this.startPosition.w[j] = this.startPosition.w[j]
          / (this.img1.width / this.widthCanvas) - this.startPosition.x[j];
        this.startPosition.h[j] = this.startPosition.h[j]
          / (this.img1.height / (this.widthCanvas * 0.5625)) - this.startPosition.y[j];
      }
    },
    saveZones() {
      const path1 = 'http://127.0.0.1:5000/savezones';
      const path2 = 'http://127.0.0.1:5000/save_scenario';
      const path3 = 'http://127.0.0.1:5000/reinit_img';
      const dataURL = this.canvas.toDataURL();
      this.convertCoordForJson();
      axios.post(path1, { zones: this.startPosition, folder: this.nameProject, imgg: dataURL })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
      axios.post(path2, { scenario: this.scenario, folder: this.nameProject }).then(() => {
        if (this.reinit === true) {
          axios.get(path3)
            .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
            });
          this.$router.push('/index');
        }
      })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
      this.convertCoordForCanvas();
    },
    selectZoneMouse(e) {
      const rOffset = this.canvas.getBoundingClientRect();
      const posX = e.clientX - rOffset.left;
      const posY = e.clientY - rOffset.top;
      console.log(this.startPosition);
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        if (posX >= this.startPosition.x[j] && posY >= this.startPosition.y[j]
        && posX <= this.startPosition.x[j] + this.startPosition.w[j]
        && posY <= this.startPosition.y[j] + this.startPosition.h[j]) {
          this.startPosition.selected[j] = true;
          this.selectZone(j);
          this.$root.$emit('bv::toggle::collapse', `accordion-${j}`);
        }
      }
    },
    selectZone(i) {
      for (let j = 0; j < this.startPosition.x.length; j += 1) {
        this.startPosition.selected[j] = false;
      }
      this.startPosition.selected[i] = true;
      this.ctx.globalAlpha = 1;
      this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
      this.ctx.drawImage(this.img1, 0, 0, this.widthCanvas,
        this.widthCanvas * (this.img1.height / this.img1.width));
      this.drawOldRects();
    },
    remakeZone(i) {
      this.zoneName = this.startPosition.name[i];
      this.zoneMode = this.startPosition.type[i];
      this.level = this.startPosition.z[i];
      this.removeZone(i);
      this.doRects = true;
    },
    removeZone(i) {
      this.startPosition.id.splice(i, 1);
      this.startPosition.x.splice(i, 1);
      this.startPosition.y.splice(i, 1);
      this.startPosition.w.splice(i, 1);
      this.startPosition.h.splice(i, 1);
      this.startPosition.name.splice(i, 1);
      this.startPosition.type.splice(i, 1);
      this.startPosition.z.splice(i, 1);
      this.startPosition.selected.splice(i, 1);
      this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
      this.ctx.drawImage(this.img1, 0, 0, this.widthCanvas,
        this.widthCanvas * (this.img1.height / this.img1.width));
      this.drawOldRects();
    },
    readZones() {
      const path = 'http://127.0.0.1:5000/readzones';
      let d;
      this.startPosition.name = [];
      this.startPosition.x = [];
      this.startPosition.y = [];
      this.startPosition.w = [];
      this.startPosition.h = [];
      this.startPosition.type = [];
      axios.get(path, { params: { folder: this.$route.params.load, mode: 'normal' } })
        .then((res) => {
          d = res.data;
          /* eslint-disable */
          for (const [key,value] of Object.entries(d)) {
            for (const [k,v] of Object.entries(value)) {
              this.startPosition.name.push(v.name);
              this.startPosition.id.push(v.id);
              this.startPosition.x.push(v.position.x1);
              this.startPosition.y.push(v.position.y1);
              this.startPosition.w.push(v.position.x2);
              this.startPosition.h.push(v.position.y2);
              this.startPosition.z.push(v.position.Lvl);
              this.startPosition.type.push((v.type));
            }
          }
          this.convertCoordForCanvas();
          /* eslint-enable */
          this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
          this.ctx.drawImage(this.img1, 0, 0, this.widthCanvas,
            this.widthCanvas * (this.img1.height / this.img1.width));
          this.drawOldRects();
        })
        .catch((error) => {
          console.error(error);
        });
    },
    readScenario() {
      const path = 'http://127.0.0.1:5000/readscenario';
      let d;
      axios.get(path, { params: { folder: this.$route.params.load } })
        .then((res) => {
          d = res.data;
          /* eslint-disable */
          this.scenario = d;
          console.log(d.steps)
          if (this.scenario.name !== '') {
            this.doScenario = true;
          }
        /* eslint-enable */
        })
        .catch((error) => {
          console.error(error);
        });
    },
    startSelect(e) {
      const rOffset = this.canvas.getBoundingClientRect();
      this.selectionMode = true;
      this.rect.startX = e.clientX - rOffset.left;
      this.rect.startY = e.clientY - rOffset.top;
    },
    insertImg() {
      this.img1 = new window.Image();
      this.img1.src = myImg;
      this.img1.onload = () => {
        this.ctx.drawImage(this.img1, 0, 0, this.widthCanvas,
          this.widthCanvas * (this.img1.height / this.img1.width));
        this.checkImg();
      };
      this.canvas = document.querySelector('canvas');
    },
    drawRect(e) {
      const rOffset = this.canvas.getBoundingClientRect();
      if (this.selectionMode) {
        this.ctx.globalAlpha = 1;
        this.rect.w = (e.clientX - rOffset.left) - this.rect.startX;
        this.rect.h = (e.clientY - rOffset.top) - this.rect.startY;
        this.ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
        this.ctx.drawImage(this.img1, 0, 0, this.widthCanvas,
          this.widthCanvas * (this.img1.height / this.img1.width));
        this.ctx.globalAlpha = 0.4;
        this.ctx.beginPath();
        this.ctx.rect(this.rect.startX, this.rect.startY, this.rect.w, this.rect.h);
        this.ctx.font = '30px Arial';
        if (this.zoneMode === null) {
          this.ctx.strokeStyle = 'black';
          this.ctx.fillStyle = 'black';
        } else if (this.zoneMode === 'assembly') {
          this.ctx.strokeStyle = 'red';
          this.ctx.fillStyle = 'red';
        } else if (this.zoneMode === 'collect') {
          this.ctx.strokeStyle = 'yellow';
          this.ctx.fillStyle = 'yellow';
        } else if (this.zoneMode === 'display') {
          this.ctx.strokeStyle = 'green';
          this.ctx.fillStyle = 'green';
        }
        this.ctx.fillText(this.zoneName,
          this.rect.w + this.rect.startX,
          this.rect.h + this.rect.startY);
        this.ctx.closePath();
        if (Math.abs(this.rect.h * this.rect.w) > 40) {
          this.ctx.stroke();
        }
        this.ctx.globalAlpha = 1;
        this.drawOldRects();
      }
    },
    changeType(value) {
      this.zoneMode = value;
    },
    drawOldRects() {
      console.log(this.startPosition);
      for (let i = 0; i < this.startPosition.x.length; i += 1) {
        if (this.startPosition.selected[i] === true) {
          this.ctx.globalAlpha = 1;
        } else {
          this.ctx.globalAlpha = 0.4;
        }
        this.ctx.beginPath();
        this.ctx.rect(this.startPosition.x[i], this.startPosition.y[i],
          this.startPosition.w[i], this.startPosition.h[i]);
        this.ctx.font = '30px Arial';
        if (this.startPosition.type[i] === null) {
          this.ctx.strokeStyle = 'black';
          this.ctx.fillStyle = 'black';
        } else if (this.startPosition.type[i] === 'assembly') {
          this.ctx.strokeStyle = 'red';
          this.ctx.fillStyle = 'red';
        } else if (this.startPosition.type[i] === 'collect') {
          this.ctx.strokeStyle = 'yellow';
          this.ctx.fillStyle = 'yellow';
        } else if (this.startPosition.type[i] === 'display') {
          this.ctx.strokeStyle = 'green';
          this.ctx.fillStyle = 'green';
        }
        this.ctx.fillText(this.startPosition.name[i],
          this.startPosition.w[i] + this.startPosition.x[i],
          this.startPosition.h[i] + this.startPosition.y[i]);
        this.ctx.closePath();
        this.ctx.stroke();
      }
    },
    stopSelect() {
      console.log(this.rect.w);
      console.log(this.rect.h);
      if (this.rect.w < 0 && this.rect.h > 0) {
        this.rect.startX += this.rect.w;
        this.rect.w = Math.abs(this.rect.w);
      } else if (this.rect.h < 0 && this.rect.w > 0) {
        this.rect.startY += this.rect.h;
        this.rect.h = Math.abs(this.rect.h);
      } else if (this.rect.w < 0 && this.rect.h < 0) {
        this.rect.startX += this.rect.w;
        this.rect.startY += this.rect.h;
        this.rect.h = Math.abs(this.rect.h);
        this.rect.w = Math.abs(this.rect.w);
      }
      if ((Math.abs(this.rect.w * this.rect.h > 40)) && (this.selectionMode)) {
        this.startPosition.id.push(this.startPosition.name.length);
        this.startPosition.name.push(this.zoneName);
        this.startPosition.x.push(this.rect.startX);
        this.startPosition.y.push(this.rect.startY);
        this.startPosition.w.push(this.rect.w);
        this.startPosition.h.push(this.rect.h);
        this.startPosition.z.push(this.level);
        this.startPosition.type.push(this.zoneMode);
        this.startPosition.selected.push(false);
      }
      this.zoneName = null;
      this.zoneMode = null;
      this.level = null;
      this.selectionMode = false;
      this.doRects = false;
      console.log(this.startPosition.z);
    },
    checkImg() {
      if (this.$route.params.load !== 'None') {
        console.log(this.$route.params.load);
        const path = 'http://127.0.0.1:5000/load_img';
        this.nameProject = this.$route.params.load;
        this.saved = true;
        this.readZones();
        this.doScenario = true;
        this.readScenario();
        if (this.$route.params.mode !== 'retake') {
          axios.get(path, { params: { folder: this.$route.params.load } })
            .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
            });
        }
      } else {
        this.$root.$emit('bv::show::modal', 'modal-save', '#back-save');
      }
    },
  },
  mounted() {
    this.$refs.select.height = this.widthCanvas * 0.5625;
    this.$refs.select.width = this.widthCanvas;
    this.ctx = this.$refs.select.getContext('2d');
    this.ctx.lineWidth = 5;
    this.insertImg();
  },
};
</script>

<style>

.my-accordion {
  background-color: lightgoldenrodyellow;
  padding: 1rem;
  margin-top: 17px;
}

.do_rects {
  cursor: crosshair;
}

.card {
  min-width: 100%;
}

.content_ui {
  margin-right: 0;
  max-width: 100%;
  padding-top: 5rem;
  margin-left: 0;
}

.navbar {
  background-color: #4e555b;
}

.btn-info:not(:disabled):not(.disabled):active {
  box-shadow: none;
  border: none;
  background-color: #e6c21b;
  border-radius: 0;
  color: #1b1e21;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-info:focus, .btn-info.focus {
  border: none;
  box-shadow: none;
  background-color: #e6c21b;
  border-radius: 0;
  color: #1b1e21;
}

.navbar {
  background-color: #4e555b;
  width: 100vw;
   position: fixed;
  z-index: 99;
}

.btn-info:hover {
  border: none;
  background-color: #e6c21b;
  opacity: 0.5;
  color: #1b1e21;
}

canvas {
  border: 5px solid #ffd100;
}

.btn_zones button {
  background-color: gainsboro !important;
  width: 200px;
}

.btn_zones {
  width: 35%;
}

.btn_nav {
  margin-top: 0.5%;
}

.btn_nav button {
  font-size: 1.1rem;
  padding: 1rem;
}

.btn_nav a {
  font-size: 1.1rem;
  padding: 1rem;
}

#modal-zones___BV_modal_content_ {
  width: 150%;
}

.nzones {
  width: auto;
}

input {
  float: right;
}

.btn {
  border: none;
  background-color: #e6c21b;
  border-radius: 0;
  color: #1b1e21;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.my-accordion .btn {
  background-color: gold;
}
</style>
